---
title: " | Designer"
---
<header class="blog-header">
  <div class="blog-header-inner">
    <h2 class="call-out">Designer</h1>
    <h3>Join some of London's best Tech Talent</h3>
  </div>
</header>

  <section class="post">
  <p>Fed up with feeling like a tiny cog in a huge machine? Bored with strict work practices, outmoded design standards and draconian time management? By joining a small company, you are guaranteed to be a key a part of our team from day one.</p>

  <h3>Skills and requirements</h3>
  <p>We are looking for candidates who are passionate about design and technology. Candidates should be able to design user interfaces using web technologies and have some opinions about trends, techniques and technologies. You will work directly with product owners and developers to deliver inspiring digital products as part of a pebble {code} team.</p>

  <p>You may be asked to work on branding, illustrations and product and process diagrams. Furthermore you will have the opportunity to shape the strategic direction of products as part of an Agile delivery team.</p>

  <p>pebble {code} run regular internal hack days that support our philosophy of rapid prototyping and proving ideas as quickly as possible. This is a fast-paced role where you can expect to learn new skills and be challenged.</p>
  
  <p>You should have excellent visual design skills, a portfolio of work demonstrating user interface design and general graphic design skills. You will also possess basic front-end skills and a working understanding of browsers.</p>

  <p>A London base is not mandatory – there is some flexibility regarding working hours and practices, pebble {code} is in the process of building a <a href="http://en.wikipedia.org/wiki/ROWE">Results Only Work Environment</a>, and as such is supportive of employees who are unable to be office based 5 days/week. We welcome applications from candidates who are able to be at least partly based in our London office. pebble {code} is an equal opportunities employer and welcomes all applicants eligible to work in the UK.</p>

  <p>Remuneration: Competitive</p>

  <p>Send your CV to <a href="mailto:jobs@pebblecode.com">jobs@pebblecode.com</a>

  <p>No Agencies Please</p>
  </section>

