//===============================================================================
// 404
//===============================================================================
.page-404 {

  #wrap > .row:first-child {
    padding-top: 106px;
  }

  .row {
    margin-top: -20px;
  }

  .error-header {
    text-align: center;
  }

  .error-copy {
    margin-top: $baseline*2;
  }
}