$pink : #EE5080;
$purple : #9B5CA4;
$blue : #0EA2DC;
$aqua : #37BEC0;
$green : #A4CE4E;
$orange : #FAAD40;

$column-width : 14.1666667%;
$column-gutter : 3%;
$grid-width : 90%;
$grid-max-width : 1024px;
$baseline : 22px;

html, body{
  height: 100%;
}

body{
  font: 400 16px/22px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;  
  background-color: hsl(40, 70%, 98.5%);
  color: hsl(0, 0%, 50%);
}

.frame{
  background-color: white;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  @include box-shadow(hsl(40, 30%, 95%) 3px 3px 0);
  @include box-sizing(border-box);
}

hr{
  height: 3px;
  border: none;
  margin-top: -1px;
  margin-bottom: -2px;
}

pre {
  margin-bottom: 1.5em;

  code {
    font-family: monospace;
    overflow-x: auto;
  }
}

/* @group typography */

h1,h2,h3,h4,h5,h6,h7,h8{
  font-family: "meta-bold", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: hsl(0, 0%, 55%);
}

p{
  font-size: 16px;
  line-height: $baseline;
  margin-bottom: $baseline;
}

a{
  color: hsl(0, 0%, 45%);
  font-weight: bold;
  text-decoration: none;

  &:hover{
    color: hsl(0, 0%, 30%);
    text-decoration: underline;
  }
}

.size0{
  font-size: 12px;
  line-height: $baseline;
}

.size1{
  font-size: 16px;
  line-height: $baseline;
}

.size2{
  font-size: 38px;
  line-height: $baseline*2;
}

.size3{
  font-size: 66px;
  line-height: $baseline*3;
}

.size4{
  font-size: 88px;
  line-height: $baseline*4;
}

.size5{
  font-size: 110px;
  line-height: $baseline*5;
}

/* @end */

/* @group Colours */

.pink{color: $pink; &:hover{color: $pink;}}
.purple{color: $purple; &:hover{color: $purple;}}
.blue{color: $blue; &:hover{color: $blue;}}
.aqua{color: $aqua; &:hover{color: $aqua;}}
.green{color: $green; &:hover{color: $green;}}
.orange{color: $orange; &:hover{color: $orange;}}
.pink-background{background-color: $pink; } 
.purple-background{background-color: $purple;}
.blue-background{background-color: $blue;}
.aqua-background{background-color: $aqua;}
.green-background{background-color: $green;}
.orange-background{background-color: $orange;}
.pink-border{border-color: $pink;} 
.purple-border{border-color: $purple;}
.blue-border{border-color: $blue;}
.aqua-border{border-color: $aqua;}
.green-border{border-color: $green;}
.orange-border{border-color: $orange;}

/* @end */

/* @group grid */

#wrap{
  margin: 0 auto -60px;
  max-width: $grid-max-width;
  width: $grid-width;
  clear: both;
  min-height: 100%;
  height: auto !important;
}
#wrap #wrap-footer{
  height: 180px;
}
.row{
  width: 100%;
  margin-bottom: $baseline*3;
}
#wrap > .row:first-child{
  padding-top: 40px;
}
.row:before,.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
[class*=columns]{
  float: left;
  margin-left: $column-gutter;
}
[class*=columns]:first-child {
  margin-left: 0;
}
.columns1{
  width: $column-width;
}
.columns1:nth-child(7) {
  margin-left: 0;
}
.columns2{
  width: $column-width*2 + $column-gutter;
}
.columns3{
  width: $column-width*3 + $column-gutter*2;
}
.columns4{
  width: $column-width*4 + $column-gutter*3;
}
.columns5{
  width: $column-width*5 + $column-gutter*4;
}
.columns6{
  width: 100%;
}
[class*=columns].offset1{
  margin-left: $column-width + $column-gutter;
}
[class*=columns].offset2{
  margin-left: $column-width*2 + $column-gutter*2;
}
[class*=columns].offset3{
  margin-left: $column-width*3 + $column-gutter*3;
}
[class*=columns].offset4{
  margin-left: $column-width*4 + $column-gutter*4;
}
[class*=columns].offset5{
  margin-left: $column-width*5 + $column-gutter*5;
}
/* @end */

/* @group header */

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include box-shadow(hsla(0, 0%, 0%, 0.1) 0 5px 0);
  z-index: 10;

  nav{
    height: 40px;
    width: 100%;
    max-width: $grid-max-width;
    margin: 0 auto;

    img{
      float: left;
      margin-top: 10px;
      margin-left: 12px;
    }

    ul{
      float: right;
      font-family: "meta-bold", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
      font-size: 18px;
      line-height: 38px;
      letter-spacing: 1px;
      margin-right: 5px;

      li{
        float: left;
        margin-left: 10px;

        span{
          color: transparent;
        }

        a{
          color: white;
          &:hover{
            color: white;
            text-decoration: none;
          }
        }

        &:hover{
          span{
            color: white;
          }
        }
      }

      .nav-active{
        span{
          color: white;
        }
      }
    }
  }
}

/* @end */

/* @group footer */

footer{
  width: 100%;
  background-color: hsl(0, 0%, 95%);
  overflow: hidden;
  clear: both;
  position: relative;
  height: 80px;

  div{
    width: 100%;
    max-width: $grid-max-width;
    margin: 0 auto;

    #contact{
      margin-top: 16px;
      margin-left: 12px;
      float: left;

      .address{
        a{
          margin-left: 14px;
        }
      }

      li.size0{
        color: hsl(0, 0%, 70%);
        margin-bottom: -6px;

        a{
          color: hsl(0, 0%, 50%);

          &:hover{
            color: hsl(0, 0%, 40%);
          }
        }
      }
    }

    #social{
      float: right;
      margin-right: 12px;

      li{
        float: left;

        a{
          display: block;
          height: 20px;
          width: 20px;
          text-indent: 99999px;
          margin: 32px 0 0 5px;
          background-image: url('/images/social.png');
          background-color: hsl(0, 0%, 85%);

          &:hover{
            background-color: hsl(0, 0%, 75%);
          }
        }

        #twitter{
          background-position-x: 40px;
        }

        #google-plus{
          background-position-x: 20px;
        }
      }
    }
  }
}
/* @end */

/* @group homepage */

.page-homepage {
  .row:first-child{
    margin-top: $baseline*3;
    margin-bottom: $baseline*2;
  }

  .slideshow {
    @include box-sizing(border-box);

    .slides_container {
      height: $baseline*18;

      // ".slides_container li" width is dynamically adjusted using js (so you can center images)
      li {
        height: $baseline*18;
        width: 100%;

        h1, h2{
          color: white;
          margin-left: 5%;
          margin-right: 5%;
        }
        h1{
          margin-top: $baseline;
        }
        &.slide1{
          background: $pink url("/images/zig-zag-6.gif") no-repeat center 0;
        }
        &.slide2{
          background: $green url("/images/zig-zag-2.gif") no-repeat center 0;
        }
        &.slide3{
          background: $green url("/images/zig-zag-1.gif") no-repeat center 0;
        }
        &.slide4{
          background: $green url("/images/zig-zag-3.gif") no-repeat center 0;
        }
        &.slide5{
          background: $green url("/images/zig-zag-5.gif") no-repeat center 0;
        }
        &.slide6{
          background: $green url("/images/zig-zag-4.gif") no-repeat center 0;
        }
      }
    }

    .pagination{
      width: 138px;
      margin: $baseline auto;
      li {
        float: left;
        a {
          display: block;
          color: transparent;
          width: 12px;
          height: 12px;
          margin-left:10px;
          border: 6px solid $pink;

          @include box-sizing(border-box);
          @include border-radius(10px);
        }
      }

      .current a{
        border-width: 3px;
      }

      li:nth-child(2) a{
        border-color: $green;
      }
      li:nth-child(3) a{
        border-color: $orange;
      }
      li:nth-child(4) a{
        border-color: $aqua;
      }
      li:nth-child(5) a{
        border-color: $purple;
      }
      li:nth-child(6) a{
        border-color: $blue;
      }
    }
  }

  #recent-posts {
    ul {
      list-style: disc;
      margin-left: 1.5em;

      li {

      }
    }
  }
}
/* @end */

/* @group work */

.page-work{

  .row:first-child{
    margin-bottom: $baseline*2;
    .columns3{
      margin-top: $baseline*3;
    }
    p:first-child{
      padding-top: $baseline;
    }
  }

  .case-study{

    hr{
      margin-bottom: $baseline*2;
    }
    .row{
      margin-bottom: $baseline;
    }
    .img{
      width: 100%;
      height: $baseline*8;
    }
    h3{
      margin-bottom: $baseline;
    }
  }
}
/* @end */

/* @group products */

.page-products{

  .row:first-child{
    .columns6{
      margin-top: $baseline*3;
    }
  }

  .row:nth-child(2){
    margin-bottom: $baseline*2;
  }

  .tricklr, .vistazo{
    .img{
      width: 100%;
      height: $baseline*9;
      background-color: $pink;
    }
    a{
      color: $pink;
    }
  }

  .vistazo{
    .img{
      background-color: $blue;
    }
    a{
      color: $blue;
    }
  }

  h2{
    margin-top: $baseline*2;
    margin-bottom: $baseline;
  }

  hr{
    margin-bottom: $baseline*2;
  }

  .open-source{
    p{
      margin-top: $baseline*2;
      margin-bottom: 0;
    }
  }
}

/* @end */

/* @group people */

.page-people{
  .people-img{
    .columns6{
      margin-top: $baseline*3;
      .img{
        width: 100%;
        height: $baseline*12;
      }
    }
  }
  .people-copy{
    margin-bottom: 0; // Spacing in h1, instead of here (for # linking)
  }
  #spotlight{
    .row:first-child{
      margin-bottom: $baseline;
    }
    .row:nth-child(3){
      margin-bottom: $baseline;
    }
    .person-row{
      display: none;
      &.active{
        display: block;
      }
    }
    hr{
      margin-bottom: $baseline;
    }
    .img{
      width: 100%;
      height: $baseline*12;
      text-align: center;
    }
    h1 {
      margin-top: $baseline*2;
    }
    h3{
      margin-bottom: $baseline;
    }
    .link{
      margin-bottom: 0;
    }
  }

  .employees{
    .row:first-child,
    .row:nth-child(3){
      margin-bottom: $baseline;
    }
    hr{
      margin-bottom: $baseline;
    }

    // Allow employees rows to have 6 people by default.
    // Also see media css for max-width: 1130px, where this gets cancelled out.
    li:nth-child(6) .person{
      margin-right: 0;
    }
    .person{
      display: block;
      margin-bottom: $baseline;
      margin-right: 30px;
      // Need this for when names go over 2 lines
      min-height: $baseline*10;
      min-width: 145px;
      &:hover {
        text-decoration: none;
      }
      .img{
        width: 100%;
        height: $baseline*5;
        margin-bottom: 7px;
        text-align: center;
      }
      h4 {
        // font-size: 14px;
      }
      p{
        margin-bottom: -5px;
        // font-size: 12px;
      }
    }
  }
  .pebble-it{
    padding: $baseline*2 0 $baseline;
    .row{
      margin-bottom: $baseline;
    }
    h1,a{
      color: #009be8;
    }
  }
}

/* @end */

/* @group thoughts */

.page-thoughts{
  #thoughts-heading{
    margin-top: $baseline*3;
  }
  hr{
    margin-bottom: $baseline*2;
  }
  .blog-post{
    ol, ul {
      margin-bottom: 1.5em;
      list-style: disc;
      margin-left: 1.5em;
    }
    .img{
      width: 100%;
      height: $baseline*11;
    }
    .frame{
      margin-bottom: $baseline;
    }
    .heading{
      margin-bottom: $baseline;
    }
    .blog-content{
      border-bottom-style: dashed;
      border-bottom-width: 1px;
      padding-bottom: $baseline;
    }
    .blog-sidebar{
      margin-top: $baseline*3;
      p{
        margin-bottom: 0;
      }
      .tags{
        margin-top: $baseline;
        list-style: none;
        margin-left: 0;
        a{
          font-weight: 400;
          display: block;
        }
        li a:after {
          content: ",";
        }
        li:last-child a:after {
          content: "";
        }
      }
      .comments{
        a {
          color: hsl(40, 70%, 98.5%);  
          display: block;
          background-image: url('/images/comment.png');
          width: 20px;
          height: 26px;
          margin-top: 10px;
          padding: 4px 12px 6px;
          display: inline-block;
          font-weight: bold;
          letter-spacing: 1px;
          text-align: center;
        }
      }
    }
    .comments-wrapper {
      @extend .columns4;
    } // .comments-wrapper

    .share-this-wrapper {
      clear: both;
    }
  } // .blog-post

  #blog-navigation {
    @extend .columns4;
    margin: 60px 0 0 0;

    li {
      width: 50%;
    }

    .prev {
      float: left;
    }

    .next {
      float: right;
      text-align: right;
    }
  }
}
/* @end */

.page-404{
  #wrap > .row:first-child {
    padding-top: 106px;
  }
  .row{
    margin-top: -6px;
  }
  .error-header{
    text-align: center;
  }
  .error-copy{
    margin-top: $baseline*2;
  }
}

// Mainly used to fix IE bugs
.no-borderradius {
  .columns2 {
    width: $column-width*2 + $column-gutter - 3%;
  }
  .columns3 {
    width: $column-width*3 + $column-gutter*2 - 3%;
  }
  .columns4 {
    width: $column-width*4 + $column-gutter*3 - 3%;
  }
  .page-people {
    .employees {
      .columns1 {
        width: 135px;
        margin-left: 0;
        margin-right: 60px;
      }
    }
  }
  .page-homepage {
    .slideshow .pagination {
      li {
        a {
          text-indent: -9999px;
          height: 5px;
          width: 5px;
          border-width: 4px;
        }

        &.current a{
          border-width: 2px;
          height: 9px;
          width: 9px;
        }
      }
    }
  } // .page-homepage .slideshow .slides_container .pagination

  #recent-posts {
    width: 31%;
  }
} // .no-borderradius

/* @group media queries Group */
@media only screen and (max-width: 1130px) {
  .page-people {
    .employees {
      li:nth-child(6) .person{
        margin-right: 30px;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
[class*=columns]{
  width: 100%;
  margin-left: 0;
}
#wrap #wrap-footer{
  height: 80px;
}
.row{
  margin-bottom: $baseline;
}
.size3{
  font-size: 38px;
  line-height: $baseline*2;
}
.size4{
  font-size: 38px;
  line-height: $baseline*2;
}


header{
  position: relative;
  height: $baseline*5 +8px;
  nav{
    img{
      float: left;
      padding-top: $baseline +15px;
    }
    ul{
      font-family: "meta-bold", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
      line-height: 18px;
      width: 50%;
      li{
        float: left;
        width: 100%;
        text-align: right;
        margin: 5px 0;
      }
    }
  }
}


.page-homepage {
  .slideshow {
    margin-top: -15px;
    height: $baseline*8;
    h1 {
      display: none;
    }
    .slides_container {
      
    }
  }
  .columns2 {
    a {
      margin-bottom: $baseline*2;
    }
    .blog-snippet {

    }
  }
}


.page-work {
  .row:first-child {
    .columns3 {
      margin-top: -25px
    }
    p {
      padding-top: $baseline +25px;
    }
  }
  .case-study {
    padding-top: $baseline;
    margin-bottom: 0;
  }
  .frame {
    margin-bottom: $baseline;
  }
  h3 {
    font-size: 16px;
    line-height: $baseline;
  }
}


.page-products {
  .row:first-child {
    .columns6{
      margin-top: -25px;
    }
  }

  .row:nth-child(2) {
    margin-bottom: 0;
  }

  .frame {
    margin-bottom: $baseline;
  }
  h2 {
    margin-top: $baseline;
    margin-bottom: $baseline;
  }
  hr {
    margin-bottom: $baseline;
  }
  .open-source {
    p{
      margin-top: $baseline;
    }
  }
}

.page-people {
  .people-img {
    .columns6 {
      margin-top: -15px;
      .img{
        height: $baseline*8;
      }
    }
  }
  .people-copy {
    margin-bottom: 0;
  }
  #spotlight {
    .row:first-child {
      margin-bottom: $baseline;
    }
    hr {
      margin-bottom: $baseline;
    }
    .img {
      width: 100%;
      height: $baseline*12;
    }
    h2 {
      margin-top: $baseline;
      margin-bottom: $baseline;
    }
    h3 {
      margin-bottom: $baseline;
      font-size: 16px;
      line-height: $baseline;
    }
    .link {
      margin-bottom: 0;
      a{
        color: $green;
      }
    }
  }

  .employees {
    li:nth-child(even) .person {
      margin-right: 0;
    }
    .person {
        width: 47.5%;
        float: left;
        margin-right: 17px;
        margin-bottom: $baseline;
      p{
        margin-bottom: -5px;
      }
    }
  }
}


.page-thoughts {
  #thoughts-heading {
    margin-top: -15px;
  }
  hr {
    margin-bottom: $baseline;
  }
  .blog-post {
    margin-bottom: $baseline*3;
    .img {
      background: $orange;
      height: $baseline*8;
    }
  }
  .blog-sidebar {
    display: none;
  }
}
} /* media-q end */

/* @end */
