//===============================================================================
// ARCHIVE
//===============================================================================
#archive-list li{
  @extend .size2;
  margin-bottom: $baseline;

  a:hover{
    text-decoration: none;
  }

  span{
    font-size: .5em;
    display: inline-block;
    width: 220px;
    height: 33px;
    overflow: hidden;
    font-weight: normal;
  }

  &:nth-child(6n) a,
  &:nth-child(6n) span{
    color: $pink;

    &:hover{
      color: darken($pink, 17.5);
    }
  }

  &:nth-child(6n+1) a,
  &:nth-child(6n+1) span{
    color: $blue;

    &:hover{
      color: darken($blue, 17.5);
    }
  }

  &:nth-child(6n+2) a,
  &:nth-child(6n+2) span{
    color: $green;

    &:hover{
      color: darken($green, 17.5);
    }
  }

  &:nth-child(6n+3) a,
  &:nth-child(6n+3) span{
    color: $orange;

    &:hover{
      color: darken($orange, 17.5);
    }
  }

  &:nth-child(6n+4) a,
  &:nth-child(6n+4) span{
    color: $purple;

    &:hover{
      color: darken($purple, 17.5);
    }
  }

  &:nth-child(6n+5) a,
  &:nth-child(6n+5) span{
    color: $aqua;

    &:hover{
      color: darken($aqua, 17.5);
    }
  }
}
