//===============================================================================
// ELEMENTS
//===============================================================================
html,
body {
  height: 100%;
}

body {
  background-color: hsl(40, 70%, 98.5%);
  color: hsl(0, 0%, 50%);
  font: 400 16px/22px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(0, 0%, 55%);
  font-family: "ff-meta-web-pro", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {
  margin-bottom: $baseline;
  font-size: 16px;
  line-height: $baseline;
}

a {
  color: hsl(0, 0%, 45%);
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: hsl(0, 0%, 30%);
    text-decoration: underline;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  margin-top: -1px;
  margin-bottom: -2px;
  height: 3px;
  border: none;
}

pre {
  margin-bottom: 1.5em;

  code {
    overflow-x: auto;
    font-family: monospace;
  }
}