@font-face {
  font-family: 'pc_social';
  src: url("/fonts/pc_social.eot?14885197");
  src: url("/fonts/pc_social.eot?14885197#iefix") format('embedded-opentype'), url("/fonts/pc_social.woff?14885197") format('woff'), url("/fonts/pc_social.ttf?14885197") format('truetype'), url("/fonts/pc_social.svg?14885197#pc_social") format('svg');
  font-weight: normal;
  font-style: normal;
}