//===============================================================================
// TYPOGRAPHY
//===============================================================================
.size0{
  font-size: 12px;
  line-height: $baseline;
}

.size1{
  font-size: 16px;
  line-height: $baseline;
}

.size2{
  font-size: 38px;
  line-height: $baseline*2;
}

.size3{
  font-size: 66px;
  line-height: $baseline*3;
}

.size4{
  font-size: 88px;
  line-height: $baseline*4;
}

.size5{
  font-size: 110px;
  line-height: $baseline*5;
}
