//===============================================================================
// HOMEPAGE
//===============================================================================
.homepage-bg{
  background-image: url('../img/homepage-bg.jpg');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.homepage-head{
  background: $pc-pink;
  background: rgba(238, 79, 126, 0.4);
  padding: 60px 20px 110px;
  position: relative;
  margin-top: $header-height-small;
  overflow: hidden;

  &::before {
    content: "";
    z-index: 2;
    width: 100%;
    position: absolute;
    bottom: -40px;
    display: block;
    height: 80px;
    background: $ink;
    @include vendor( transform, rotate(1deg) scale(1.2) );
  }

  h1,
  h2 {
    color: $paper;
    margin: 0;
    text-align: center;
  }

  h1{
    font-size: 38px;
    margin-bottom: 20px; 
  }

  h2{
    font-size: 20px;
    line-height: 1.1;
    font-weight: 300;
  }

  @media ( min-width: 1024px ) {
    &::after {
      content: "";
      position: absolute;
      bottom: -22px;
      height: 22px;
      width: 100%;
      background: url("../img/homepage-head.svg");
      background-size: 100% 100%;
      left: 0;
    }
  }
}

.cta-container-small {

  .block-1 {
    display: block;
    font-size: 32px;
    line-height: 1.1;
    color: white;
    padding: 50px 20px 0;
    text-align: center;
  }

  a {
    display: block;
    padding: 30px 20px 50px;
    text-align: center;
    text-decoration: none;
  }

  .block-2 {
    display: block;
    background: $code-head;
    color: white;
    padding: 10px;
    font-size: 24px;
    font-family: "brandon-grotesque";
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.1;
  }
}

.no-csstransforms3d .block-1::after,
.no-csstransforms3d .block-2::after{
  display: none;
}


.cta-container-large {
    display: none;
    margin: 180px auto;
    width: 740px;
    background: white;
    font-size: 30px;
    text-align: center;
    position: relative;

    @media ( min-width: 1024px ) {
      @include vendor( transform, rotate( 1deg ) );
    }

    a{
      text-decoration: none;
      display: block;
      overflow: hidden;

      &:hover{
        color: $pc-pink;

        .block-1::after,
        .block-2::after{
          @include vendor( transform, rotateY(0deg) );
        } 
      }
    }

    .block-1,
    .block-2{
      display: block;
      font-size: 44px;
      line-height: 1.2;
      position: relative;
    }

    .block-1{
      font-weight: 300;
      padding: 50px 10px 4px;
      @include vendor( perspective, 1000px );

      &::after{
        background-image: url('../img/reach.svg');
        background-repeat: no-repeat;
        background-position: center bottom;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: -1%;
        right: 0;
        background-color: $code-head;

        @include vendor( transform-origin, 0 50% );
        @include vendor( transform, rotateY(180deg) );
        @include vendor( transition, -prefix- transform .2s );
      }
    }

    .block-2{
      padding: 4px 10px 50px;
      @include vendor( perspective, 1000px );

      &::after{
        padding: 27px 0 0;
        text-transform: uppercase;
        font-family: "brandon-grotesque";
        font-weight: 900;
        font-style: italic;
        content: attr(data-text);
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: $code-head;

        @include vendor( transform-origin, 100% 50% );
        @include vendor( transform, rotateY(-180deg) );
        @include vendor( transition, -prefix- transform .2s );
      }
    }
  }

  .cta-help-outer {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .cta-help {
    position: absolute;
    background: $pc-pink;
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;

    @include vendor( transform, translateY( -100% ) );
    @include vendor( transition, -prefix- transform .25s );

    h4 {
      color: white;
      margin-top: 34px;
    }

    p {
      color: white;
      font-size: 23px;
      padding: 0 10px;
    }

    &.active {
      @include vendor( transform, translateY( 0 ) );
    }
  }

  .cta-help-btn {
    position: absolute;
    background: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    top: 50%;
    margin-top: -15px;
    right: -40px;
    line-height: 31px;
    text-indent: 2px;
    font-size: 24px;
    cursor: pointer;
    color: $pc-pink;
    font-weight: 700;

    &:before {
      content: "";
      position: absolute;
      border-radius: 50%;
      height: 34px;
      width: 34px;
      top: -3px;
      left: -3px;
      border: 1px solid transparent;

      @include vendor( transition, border-color .25s );
    }

    &:hover:before,
    &.active:before {
      border-color: white;
    }
  }

.homepage-logos{
  background: $ink;
  padding: 0 20px 20px;
  margin-bottom: 0;

  li{
    width: 50%;
    float: left;
    padding: 0 10px 10px;
    text-align: center;
    display: block;

    img{
      max-width: 100%;
      vertical-align: middle;
    }
  }
}

.homepage-grid-container{
  background: $paper;
  padding: 80px 20px 40px;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: "";
    z-index: 2;
    width: 100%;
    position: absolute;
    top: -20px;
    display: block;
    height: 40px;
    background: $ink;
    @include vendor( transform, rotate(-0.6deg) scale(1.2) );
  }

  .call-out.grid-title{
    font-size: 32px;
  }
}

.homepage-grid-inner{
  float: left;
  width: 100%;
  margin: 0 0.25%;
  position: relative;

  .grid-inner-block{
    margin: 8px 0;
    color: $paper;
    display: block;
    clear: left;
    position: relative;
    @include vendor( transition, 0.2s ease-in-out);

    &:hover{
      @include vendor( transform, scale(1.02) );
    }

    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .call-out{
      color: rgba(0,0,0,0.4);
      margin: 20px 0 10px;
    }
    
    a{
      display: block;
      padding: 10px;
      text-decoration: none;
      color: $paper;

      h2, h3, h4, p{
        padding-left: 10px;
        padding-right: 10px;
      }
      h3{
        color: $paper;
        margin-bottom: 5px;
        text-transform: none;
      }
      p{
        font-weight: 300;
      }
    }
    .image{
      text-align: center;
      padding: 30px 40px;
      min-height: 150px;
      background-repeat: no-repeat;

      img{
        max-width: 100%;
      }
    }
  }
}
.block-cstudy{

  &::before{
    background: $pc-blue;
    @include vendor( transform, rotate(0.53deg) skew(0.5deg) );
  }

  .image{
    background: darken($pc-blue, 10);
    @include vendor( transform, rotate(0.53deg) skew(0.5deg) );
    background-size: 100%;
    background-position: center;
  }
}
.block-insight{
  &::before{
    background: $pc-orange;
    @include vendor( transform, rotate(-0.3deg) skew(-0.4deg) );
  }
  .image{
    background: darken($pc-orange, 10);
    @include vendor( transform, rotate(-0.3deg) skew(-0.4deg) );
    background-size: 100%;
    background-position: center;
  }
}
.block-lab{
  &::before{
    background: $pc-aqua;
    @include vendor( transform, rotate(0.3deg) skew(0.8deg) );
  }
  .image{
    background: darken($pc-aqua, 10);
    @include vendor( transform, rotate(0.3deg) skew(0.8deg) );
    background-size: 100%;
    background-position: center;

  }
}
.grid-inner-block.block-join{
  &::before{
    background: $pc-purple;
    @include vendor( transform, rotate(0.3deg) skew(-0.4deg) );
  }
  .image{
    background: darken($pc-purple, 10);
    @include vendor( transform, rotate(0.3deg) skew(-0.4deg) );
    background-size: 100%;
    background-position: center;
  }
  h2.call-out{
    color: $paper;
    font-size: 72px;
    text-align: center;
    z-index: 0;
    position: relative;
    padding: 30px 20px;
    margin-top: 0;

    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background: darken($pc-purple, 10);
      @include vendor( transform, rotate(0.3deg) skew(-0.4deg) );
    }
  }
  p{
    margin-top: 20px;
  }
}

.testamonials-container {
  background: lighten($ink, 47);
  padding: 80px 20px 20px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    z-index: 2;
    width: 100%;
    position: absolute;
    top: -20px;
    display: block;
    height: 40px;
    background: $paper;
    @include vendor( transform, rotate(-0.7deg) scale(1.2) );
  }

  li {
    margin-bottom: 30px;
  }

  .text {
    font-size: 28px;
    margin-bottom: 10px;
    color: $pc-pink;

    &:before,
    &:after {
      content: "'";
    }
  }

  span{
    font-weight: 700;
    line-height: 20px;
  }

  .title {
    font-weight: 300;
  }
}