//===============================================================================
// PEOPLE
//===============================================================================
.no-mq .people {
  top: $header-height-large;
}

.top-ppl-wrap{
  margin: $header-height-small + 20px 10px;

  @media ( min-width: 600px ) {
    margin: $header-height-large + 20px 10px;
  }

  .ppl-outer  {
    color: white;
    float: left;
    width: 100%;
    padding-bottom: 0;
    position: relative;

    @media ( min-width: 640px ) {
      width: 50%;
      padding-bottom: 0;
    }
    @media ( min-width: 960px ) {
      width: 33.3333%;
      padding-bottom: 0;
    }

    @media ( min-width: 1280px ) {
      width: 33.3333%;
      padding-bottom: 0;
    }

  }

  .ppl-outer-btm{

    @media ( min-width: 640px ) {
      width: 100%;
      
      .person{
        width: 50%;
        float: left;
      }
    }
    @media ( min-width: 960px ) {
      width: 33.3333%;
      padding-bottom: 0;

      .person{
        width: 100%;
      }
    }

    @media ( min-width: 1280px ) {
      width: 33.3333%;
      padding-bottom: 0;

      .person{
        width: 100%;
      }
    }
  }

  .person{
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .person-top{
    display: block;
    position: relative;
    padding-top: 50px;

    .person-text{
      position: relative;
      padding: 0 5% 40px;
      width: 100%;
      padding-right: 150px;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      float: none;
      text-align: left;
      font-size: 20px;
    }
    .mugshot{
      position: absolute;
      z-index: 1;
      height: auto;
      max-height: 90%;
      width: auto;
      max-width: 170px;
      right: 0;
      width: auto;
      vertical-align: bottom;
    }
  }
  .person-btm{
    display: block;
    position: relative;
    padding: 25px 20px 10px;
    clear: both;
    border-top: 1px solid rgba(255,255,255,0.2);

    p{
      font-size: 16px;
    }
  }

  .ppl-text{
    padding: 0;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: 0 0;
      z-index: 2;
    }

    p{
      position: relative;
      top: 0;
      line-height: 1.4;
      padding: 50px 5% 0;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .ppl-cta{
    position: relative;
    margin: 30px 5% 0;
    width: 90%;
    padding: 20px 10px;
    top: 0;
    display: block;
    font-size: 38px;
    color: $paper;
    z-index: 10;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    text-decoration: none;

    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background: darken($pc-pink, 5);
      @include vendor( transform, rotate(-0.2deg) skew(0.5deg) );
    }
    &:hover{
      &:after{
        background-color: darken( $pc-pink, 10 );
      }
    }
  }
}

.ppl-wrap {
  margin: $header-height-small + 10px 10px;
  z-index: 2;
  position: relative;

  @media ( min-width: 600px ) {
    margin: $header-height-large + 10px 10px;
  }
}

.ppl-outer  {
  color: white;
  float: left;
  width: 100%;
  padding-bottom: 125%;
  position: relative;

  @media ( min-width: 640px ) {
    width: 50%;
    padding-bottom: 62.5%;
  }

  @media ( min-width: 960px ) {
    width: 33.3333%;
    padding-bottom: 41.6666%;
  }

  @media ( min-width: 1280px ) {
    width: 25%;
    padding-bottom: 31.25%;
  }
}

.ppl-block-1 {

  .vertical {
    left: 50%;
  }

  .horizontal {
    top: 60%;

    .person-text {
      left: 50%;
    }
  }

}

.ppl-block-2{

  .horizontal{
    top: 60%;
  }
  .vertical:nth-child(odd) {
    left: 50%;
  }
}
.ppl-block-2 .horizontal .mugshot { left: 50%; }

.ppl-block-3{

  .horizontal{
    .mugshot{
      left: 50%;
    }
  }
  .vertical{
    top: 40%;
  }
  .vertical:nth-child(odd) {
    left: 50%;
  }
}
.ppl-block-3 .horizontal .mugshot { left: 50%; } 

.ppl-block-4 .horizontal .person-text { left: 50%; }
.ppl-block-4 .vertical {
  top: 40%;
  left: 50%;
}

.ppl-block-5 {

  .horizontal {
    top: 60%;

    .mugshot {
      left: 50%;
    }
  }

  .vertical:nth-child(odd) {
    left: 50%;
  }
}

.ppl-block-6 {

  .horizontal .person-text {
    left: 50%;
  }

  .vertical {
    top: 40%;

    &:nth-child(odd) {
      left: 50%;
    }
  }
}

.ppl-block-7 .horizontal { top: 60%; }
.ppl-block-7 .mugshot { left: 50%; }

.ppl-block-8 .person-text { left: 50%; }
.ppl-block-8 .ppl-text { top: 40%; }

.ppl-block-9{
  padding-bottom: 50%;

  .horizontal{
    top: 0;

    .mugshot{
      left: 50%;
    }
  }
}
.ppl-block-10{
  padding-bottom: 50%;

  .horizontal {
    top: 0;

    .person-text {
      left: 50%;
    }
  }
}

@media (min-width: 640px) {
  .ppl-block-9, .ppl-block-10{
    padding-bottom: 25%;
  }
}
@media ( min-width: 960px ) {
  .ppl-block-9, .ppl-block-10{
    padding-bottom: 12.7%;
  }
}

.person  {
  position: absolute;
}

.person {

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    z-index: 2;
  }

  &::before {
  }

  &::after {
    background-position: 0 1px;
  }
}

.ppl-c-1{ 
  background-color: lighten( $pc-pink, 5 );

  &::before {
    background-image: url( '../img/side-1.svg' );
  }

  &::after {
    background-image: url( '../img/side-2.svg' );
  }
}

.ppl-c-2{ 
  background-color: lighten( $pc-pink, 10 );

  &::before {
    background-image: url( '../img/side-3.svg' );
  }

  &::after {
    background-image: url( '../img/side-4.svg' );
  }
}

.ppl-c-3{ 
  background-color: lighten( $pc-pink, 15 );

  &::before {
    background-image: url( '../img/side-5.svg' );
  }

  &::after {
    background-image: url( '../img/side-6.svg' );
  }
}

.ppl-c-4{ 
  background-color: lighten( $pc-pink, 7.5 );

  &::before {
    background-image: url( '../img/side-1.svg' );
  }

  &::after {
    background-image: url( '../img/side-6.svg' );
  }
}

.ppl-c-5{ 
  background-color: lighten( $pc-pink, 12.5 );

  &::before {
    background-image: url( '../img/side-3.svg' );
  }

  &::after {
    background-image: url( '../img/side-2.svg' );
  }
}

.ppl-c-6{ 
  background-color: lighten( $pc-pink, 2.5 );

  &::before {
    background-image: url( '../img/side-5.svg' );
  }

  &::after {
    background-image: url( '../img/side-4.svg' );
  }
}

.vertical {
  width: 50%;
  padding-bottom: 75%;

  .person-text {
    width: 100%;
    top: 16.6666%;;
  }
}

.horizontal {
  width: 100%;
  padding-bottom: 50%;

  .mugshot {
    width: 50%;
  }  

  .person-text {
    width: 50%;
    top: 50%;
  }
}

.person-text {
  text-align: center;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 5%;
  line-height: 1.1;
  font-size: 16px;
  z-index: 999;
}

.person-name {
  font-weight: bold;
  display: block;
}

.person-title {

}

.mugshot {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.ppl-text {
  position: absolute;
  width: 100%;
  padding-bottom: 75%;
  background-color: $pc-pink;

  p {
    font-size: 20px;
    line-height: 1.1;
    position: absolute;
    margin: 0;
    padding: 0 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.ppl-cta {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;

  h3 {
    color: white;
    margin-bottom: 0;
    font-size: 60px;
  }    
}


.ppl-cta-link:hover .ppl-text{
  background-color: darken( $pc-pink, 5 );
}