---
title: " | find us"
---
<!-- <div id="map-canvas" style="width: 100%; height: 100%"></div>

<div class="address call-out tera">
  <a href="{{ global.g-map-url }}">
    <span>W214 Westminster Business Square</span>
    <span>1-45 Durham Street</span>
    <span>London</span>
    <span>SE11 5JH</span>
  </a>
</div>

<div class="phone-email call-out tera">
  <a href="tel:+442033273940">+44 (0) 20 3327 3940</a>
  <a href="mailto:hello@pebblecode.com">hello@pebblecode.com</a>
</div> -->

<ul class="map-nav grid">
  <li><a class="london active">London</a></li>
  <li><a class="edinburgh">Edinburgh</a></li>
  <li><a class="newcastle">Newcastle</a></li>
  <li><a class="sofia">Sofia</a></li>
</ul>

<ul class="map-list">
  <li class="map-container london-map">
    <div id="london-map" class="map" ></div>
    <a href="https://maps.google.com/maps?q=pebble+%7Bcode%7D,+Durham+Street,+London,+United+Kingdom&hl=en-US&ll=51.485632,-0.118747&spn=0.011264,0.024312&sll=51.485672,-0.118554&sspn=0.022528,0.048623&oq=pebble+code&t=m&z=16&iwloc=A" class="address call-out tera" target="_blank">
      <span>W214 Westminster Business Square</span>
      <span>1-45 Durham Street</span>
      <span>London</span>
      <span>SE11 5JH</span>
    </a>
  </li>
  <li class="map-container edinburgh-map">
    <div id="edinburgh-map" class="map"></div>
    <a href="https://www.google.co.uk/maps/place/pebble+%7Bcode%7D/@55.8959774,-3.296969,16z/data=!4m2!3m1!1s0x4887c406610c9aa1:0xa52499d7e0bc6a87" class="address call-out tera" target="_blank">
      <span>5 Blinkbonny Steading</span>
      <span>Currie</span>
      <span>Edinburgh</span>
      <span>EH14 6AE</span>
    </a>
  </li>
  <li class="map-container newcastle-map">
    <div id="newcastle-map" class="map"></div>
    <a href="https://www.google.co.uk/maps/place/pebble+%7Bcode%7D/@55.0016746,-1.6156206,17z/data=!3m1!4b1!4m2!3m1!1s0x487e712c1871d20b:0x74f4416846c6a6c" class="address call-out tera" target="_blank">
      <span>1 Moor Road South</span>
      <span>Newcastle upon Tyne</span>
      <span>NE3 1NN</span>
    </a>
  </li>
  <li class="map-container sofia-map">
    <div id="sofia-map" class="map"></div>
    <a href="https://www.google.co.uk/maps/place/pebble+%7Bcode%7D/@42.6742386,23.3543577,15z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0" class="address call-out tera" target="_blank">
      <span>TechHuddle</span>
      <span>Business Center Tetrix</span>
      <span>23A Dragan Tsankov Blvd</span>
      <span>Sofia 1113</span>
      <span>Bulgaria</span>
    </a>
  </li>
</ul>
<!-- /.map-wrap -->

<div class="phone-email call-out alpha">
  <a href="tel:+442033273940" class="phone">+44 (0) 20 3327 3940</a>
  <a href="mailto:hello@pebblecode.com">hello@pebblecode.com</a>
</div>
