---
title: " | jobs"
---
<div class="wrap">
  <div class="jobs-page-header">
    <h1 class="jobs-page-title call-out">Join us</h1>
    <p class="jobs-page-intro">We are looking for talented people passionate about creating outstanding software. Come join the team!</p>
  </div>

  <ul class="jobs-list">


    <li class="jobs-item">
      <a href="http://pebblecode.com/people-champion/">
        <h3>People Champion</h3>
      </a>
    </li>

    <li class="jobs-item">
      <a href="https://careers.stackoverflow.com/jobs/80058/full-stack-javascript-developer-pebble-code">
        <h3>Full-stack JavaScript Developer</h3>
      </a>
    </li>

    <li class="jobs-item">
      <a href="http://pebblecode.com/designer/">
        <h3>Designer</h3>
      </a>
    </li>



  </ul>
</div>
