---
title: " | jobs"
---
<div class="wrap">
  <div class="jobs-page-header">
    <h1 class="jobs-page-title call-out">Join us</h1>
    <p class="jobs-page-intro">We are looking for talented people passionate about creating outstanding software. Come join the team!</p>
  </div>

  <ul class="jobs-list">
    <li class="jobs-item">
      <a href="http://gurucareersengine.com/Applicant/applyopenc?j=8d1ac65308bea3e">
        <h3>Full-stack JavaScript Developers</h3>
      </a>
    </li>
    <li class="jobs-item">
      <a href="http://gurucareersengine.com/Applicant/applyopenc?j=8d19f16ad0ff70a">
        <h3>Web Designers / Developers</h3>
      </a>
    </li>
    <li class="jobs-item">
      <a href="http://gurucareersengine.com/Applicant/applyopenc?j=8d1ac5b1719f7c8">
        <h3>UX Specialists</h3>
      </a>
    </li>
    <li class="jobs-item">
      <a href="http://gurucareersengine.com/applicant/applyopen?j=8d1ab9fa0372048&c=true#.VDehcdTF9Ns">
        <h3>SCRUM Masters / Project Managers</h3>
      </a>
    </li>
  </ul>
</div>
