---
title: " | jobs"
---
<div class="wrap">
  <div class="jobs-page-header">
    <h1 class="jobs-page-title call-out">Join us</h1>
    <p class="jobs-page-intro">We are building some really great software for a number of big clients. As such, we are looking for talented people passionate about creating outstanding software to join the team. We have a number of open opportunities...</p>
  </div>

  <ul class="jobs-list">
    <li class="jobs-item">
      <h3>Full-stack JavaScript Developers</h3>
      <a href="http://gurucareersengine.com/Applicant/applyopenc?j=8d1ac65308bea3e">Read job description and apply here</a>
    </li>
    <li class="jobs-item">
      <h3>Web Designers / Developers</h3>
      <a href="http://gurucareersengine.com/Applicant/applyopenc?j=8d19f16ad0ff70a">Read job description and apply here</a>
    </li>
    <li class="jobs-item">
      <h3>UX Specialists</h3>
      <a href="http://gurucareersengine.com/Applicant/applyopenc?j=8d1ac5b1719f7c8">Read job description and apply here</a>
    </li>
    <li class="jobs-item">
      <h3>SCRUM Masters / Project Managers</h3>
      {{!-- <a href=""></a> --}}<span>Job description coming soon!</span>
    </li>
  </ul>
</div>