/* Disqus styles for tumblr */
.comments-wrapper #dsq-content h3 {
}

.comments-wrapper #dsq-sort-select {
  display: none;
}

.comments-wrapper .dsq-comment-body {
  padding: 15px;
  background: #FDFDFC;
  border: 1px solid #eee;
  
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  
  -webkit-box-shadow: #FAF8F5 3px 3px 0;
  -moz-box-shadow: #FAF8F5 3px 3px 0;
  box-shadow: #FAF8F5 3px 3px 0;
}

.comments-wrapper .dsq-textarea-reply {
}

.comments-wrapper .dsq-textarea .dsq-textarea-background {
  background: #FDFDFC;
  border: 1px solid #eee;
  
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  
  -webkit-box-shadow: #FAF8F5 3px 3px 0;
  -moz-box-shadow: #FAF8F5 3px 3px 0;
  box-shadow: #FAF8F5 3px 3px 0;
}

.comments-wrapper .dsq-post-tools .dsq-post-as .dsq-button {
}

.comments-wrapper #dsq-content .dsq-comment-text {
  font-size: 16px;
  line-height: 22px;
}

.comments-wrapper .dsq-comment-header {
  background:none;
  padding:0;
  border:none;
  line-height: 22px;
  font-size: 16px;
  margin: 0;
  padding-left: 46px;
  margin-bottom: 10px;
}

.comments-wrapper .dsq-commenter-name {
  line-height: 34px;
  font-size: 16px;
}

.comments-wrapper .dsq-reply .dsq-avatar{
  left: 0;
  top: 46px;
}

.comments-wrapper .dsq-avatar{
  left: 10px;
  top: 10px;
}

.comments-wrapper .dsq-media-embed h4{
  margin-bottom: 5px;
}

.comments-wrapper .dsq-post-tools{
  background: none;
  
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.dsq-like-thread, .dsq-dislike-thread, .dsq-global-toolbar-right{
  opacity: 0.3;
}

.dsq-like-thread:hover, .dsq-dislike-thread:hover, .dsq-global-toolbar-right:hover{
  opacity: 1;
}

.dsq-post-tools .dsq-post-as .dsq-button{
  background: none;
  border: none; 
  
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}