/* line 17, /Users/ttt/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/ttt/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/ttt/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/ttt/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/ttt/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/ttt/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/ttt/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/ttt/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Users/ttt/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
html, body {
  height: 100%;
}

/* line 18, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
body {
  font: 400 16px/22px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  background-color: #fefcf8;
  color: gray;
}

/* line 24, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.frame {
  background-color: white;
  padding: 10px;
  border: 1px solid #cccccc;
  -moz-box-shadow: #f6f4ee 3px 3px 0;
  -webkit-box-shadow: #f6f4ee 3px 3px 0;
  -o-box-shadow: #f6f4ee 3px 3px 0;
  box-shadow: #f6f4ee 3px 3px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 32, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
hr {
  height: 3px;
  border: none;
  margin-top: -1px;
  margin-bottom: -2px;
}

/* line 39, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
pre {
  margin-bottom: 1.5em;
}
/* line 42, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
pre code {
  font-family: monospace;
  overflow-x: auto;
}

/* @group typography */
/* line 50, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
h1, h2, h3, h4, h5, h6, h7, h8 {
  font-family: "meta-bold", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #8c8c8c;
}

/* line 55, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 22px;
}

/* line 61, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
a {
  color: #737373;
  font-weight: bold;
  text-decoration: none;
}
/* line 66, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
a:hover {
  color: #4d4d4d;
  text-decoration: underline;
}

/* line 72, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.size0 {
  font-size: 12px;
  line-height: 22px;
}

/* line 77, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.size1 {
  font-size: 16px;
  line-height: 22px;
}

/* line 82, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.size2 {
  font-size: 38px;
  line-height: 44px;
}

/* line 87, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.size3 {
  font-size: 66px;
  line-height: 66px;
}

/* line 92, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.size4 {
  font-size: 88px;
  line-height: 88px;
}

/* line 97, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.size5 {
  font-size: 110px;
  line-height: 110px;
}

/* @end */
/* @group Colours */
/* line 106, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.pink {
  color: #ee5080;
}
/* line 106, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.pink:hover {
  color: #ee5080;
}

/* line 107, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.purple {
  color: #9b5ca4;
}
/* line 107, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.purple:hover {
  color: #9b5ca4;
}

/* line 108, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.blue {
  color: #0ea2dc;
}
/* line 108, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.blue:hover {
  color: #0ea2dc;
}

/* line 109, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.aqua {
  color: #37bec0;
}
/* line 109, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.aqua:hover {
  color: #37bec0;
}

/* line 110, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.green {
  color: #a4ce4e;
}
/* line 110, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.green:hover {
  color: #a4ce4e;
}

/* line 111, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.orange {
  color: #faad40;
}
/* line 111, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.orange:hover {
  color: #faad40;
}

/* line 112, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.pink-background {
  background-color: #ee5080;
}

/* line 113, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.purple-background {
  background-color: #9b5ca4;
}

/* line 114, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.blue-background {
  background-color: #0ea2dc;
}

/* line 115, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.aqua-background {
  background-color: #37bec0;
}

/* line 116, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.green-background {
  background-color: #a4ce4e;
}

/* line 117, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.orange-background {
  background-color: #faad40;
}

/* line 118, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.pink-border {
  border-color: #ee5080;
}

/* line 119, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.purple-border {
  border-color: #9b5ca4;
}

/* line 120, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.blue-border {
  border-color: #0ea2dc;
}

/* line 121, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.aqua-border {
  border-color: #37bec0;
}

/* line 122, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.green-border {
  border-color: #a4ce4e;
}

/* line 123, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.orange-border {
  border-color: #faad40;
}

/* @end */
/* @group grid */
/* line 129, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
#wrap {
  margin: 0 auto -60px;
  max-width: 1024px;
  width: 90%;
  clear: both;
  min-height: 100%;
  height: auto !important;
}

/* line 137, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
#wrap #wrap-footer {
  height: 180px;
}

/* line 140, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.row {
  width: 100%;
  margin-bottom: 66px;
}

/* line 144, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
#wrap > .row:first-child {
  padding-top: 40px;
}

/* line 147, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.row:before, .row:after {
  display: table;
  content: "";
}

/* line 151, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.row:after {
  clear: both;
}

/* line 154, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
[class*=columns] {
  float: left;
  margin-left: 3%;
}

/* line 158, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
[class*=columns]:first-child {
  margin-left: 0;
}

/* line 161, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.columns1 {
  width: 14.167%;
}

/* line 164, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.columns1:nth-child(7) {
  margin-left: 0;
}

/* line 167, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.columns2 {
  width: 31.333%;
}

/* line 170, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.columns3 {
  width: 48.5%;
}

/* line 173, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.columns4, .page-thoughts .blog-post .comments-wrapper, .page-thoughts #blog-navigation {
  width: 65.667%;
}

/* line 176, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.columns5 {
  width: 82.833%;
}

/* line 179, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.columns6 {
  width: 100%;
}

/* line 182, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
[class*=columns].offset1 {
  margin-left: 17.167%;
}

/* line 185, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
[class*=columns].offset2 {
  margin-left: 34.333%;
}

/* line 188, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
[class*=columns].offset3 {
  margin-left: 51.5%;
}

/* line 191, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
[class*=columns].offset4 {
  margin-left: 68.667%;
}

/* line 194, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
[class*=columns].offset5 {
  margin-left: 85.833%;
}

/* @end */
/* @group header */
/* line 201, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 0;
  z-index: 10;
}
/* line 209, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
header nav {
  height: 40px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
/* line 215, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
header nav img {
  float: left;
  margin-top: 10px;
  margin-left: 12px;
}
/* line 221, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
header nav ul {
  float: right;
  font-family: "meta-bold", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 18px;
  line-height: 38px;
  letter-spacing: 1px;
  margin-right: 5px;
}
/* line 229, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
header nav ul li {
  float: left;
  margin-left: 10px;
}
/* line 233, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
header nav ul li span {
  color: transparent;
}
/* line 237, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
header nav ul li a {
  color: white;
}
/* line 239, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
header nav ul li a:hover {
  color: white;
  text-decoration: none;
}
/* line 246, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
header nav ul li:hover span {
  color: white;
}
/* line 253, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
header nav ul .nav-active span {
  color: white;
}

/* @end */
/* @group footer */
/* line 265, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
footer {
  width: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
  clear: both;
  position: relative;
  height: 66px;
}
/* line 273, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
footer div {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
/* line 278, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
footer div #contact {
  margin-top: 16px;
  margin-left: 12px;
  float: left;
}
/* line 283, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
footer div #contact li.size0 {
  color: #b3b3b3;
  margin-bottom: -6px;
}
/* line 287, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
footer div #contact li.size0 a {
  color: gray;
}
/* line 290, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
footer div #contact li.size0 a:hover {
  color: #666666;
}
/* line 297, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
footer div #social {
  float: right;
  margin-right: 12px;
}
/* line 301, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
footer div #social li {
  float: left;
}
/* line 304, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
footer div #social li a {
  display: block;
  height: 20px;
  width: 20px;
  text-indent: 99999px;
  margin: 26px 0 0 5px;
  background-image: url("http://pebblecode/v2/images/social.png");
  background-color: #d9d9d9;
}
/* line 313, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
footer div #social li a:hover {
  background-color: #bfbfbf;
}
/* line 318, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
footer div #social li #twitter {
  background-position-x: 40px;
}
/* line 322, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
footer div #social li #google-plus {
  background-position-x: 20px;
}

/* @end */
/* @group homepage */
/* line 334, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .row:first-child {
  margin-top: 66px;
  margin-bottom: 44px;
}
/* line 339, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 342, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .slides_container {
  height: 396px;
}
/* line 346, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .slides_container li {
  height: 396px;
  width: 100%;
}
/* line 350, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .slides_container li h1 {
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 132px;
}
/* line 356, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .slides_container li.slide1 {
  background: #ee5080 url("http://pebblecode/v2/images/zebra.jpg") no-repeat center 0;
}
/* line 358, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .slides_container li.slide1 h1 {
  color: #a4ce4e;
}
/* line 362, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .slides_container li.slide2 {
  background-color: #a4ce4e;
}
/* line 365, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .slides_container li.slide3 {
  background-color: #faad40;
}
/* line 368, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .slides_container li.slide4 {
  background-color: #37bec0;
}
/* line 371, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .slides_container li.slide5 {
  background-color: #9b5ca4;
}
/* line 374, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .slides_container li.slide6 {
  background-color: #0ea2dc;
}
/* line 380, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .pagination {
  width: 132px;
  margin: 22px auto;
}
/* line 383, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .pagination li a {
  float: left;
  color: transparent;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  border: 6px solid #ee5080;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 395, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .pagination .current a {
  border-width: 3px;
}
/* line 399, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .pagination li:nth-child(2) a {
  border-color: #a4ce4e;
}
/* line 402, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .pagination li:nth-child(3) a {
  border-color: #faad40;
}
/* line 405, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .pagination li:nth-child(4) a {
  border-color: #37bec0;
}
/* line 408, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .pagination li:nth-child(5) a {
  border-color: #9b5ca4;
}
/* line 411, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .slideshow .pagination li:nth-child(6) a {
  border-color: #0ea2dc;
}
/* line 418, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .columns2 h2 {
  margin-bottom: 22px;
}
/* line 421, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-homepage .columns2 .blog-snipet {
  margin-bottom: 44px;
}

/* @end */
/* @group work */
/* line 432, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-work .row:first-child {
  margin-bottom: 44px;
}
/* line 434, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-work .row:first-child .columns3 {
  margin-top: 66px;
}
/* line 437, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-work .row:first-child p:first-child {
  padding-top: 22px;
}
/* line 444, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-work .case-study hr {
  margin-bottom: 44px;
}
/* line 447, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-work .case-study .row {
  margin-bottom: 22px;
}
/* line 450, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-work .case-study .img {
  width: 100%;
  height: 176px;
}
/* line 454, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-work .case-study h3 {
  margin-bottom: 22px;
}

/* @end */
/* @group products */
/* line 466, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-products .row:first-child .columns6 {
  margin-top: 66px;
}
/* line 471, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-products .row:nth-child(2) {
  margin-bottom: 44px;
}
/* line 476, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-products .tricklr .img, .page-products .vistazo .img {
  width: 100%;
  height: 198px;
  background-color: #ee5080;
}
/* line 481, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-products .tricklr a, .page-products .vistazo a {
  color: #ee5080;
}
/* line 487, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-products .vistazo .img {
  background-color: #0ea2dc;
}
/* line 490, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-products .vistazo a {
  color: #0ea2dc;
}
/* line 495, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-products h2 {
  margin-top: 44px;
  margin-bottom: 22px;
}
/* line 500, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-products hr {
  margin-bottom: 44px;
}
/* line 505, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-products .open-source p {
  margin-top: 44px;
  margin-bottom: 0;
}

/* @end */
/* @group people */
/* line 518, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people .people-img .columns6 {
  margin-top: 66px;
}
/* line 520, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people .people-img .columns6 .img {
  width: 100%;
  height: 264px;
}
/* line 526, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people .people-copy {
  margin-bottom: 0;
}
/* line 530, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people #spotlight .row:first-child {
  margin-bottom: 22px;
}
/* line 533, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people #spotlight .row:nth-child(3) {
  margin-bottom: 22px;
}
/* line 536, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people #spotlight .person-row {
  display: none;
}
/* line 538, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people #spotlight .person-row.active {
  display: block;
}
/* line 542, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people #spotlight hr {
  margin-bottom: 22px;
}
/* line 545, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people #spotlight .img {
  width: 100%;
  height: 264px;
  text-align: center;
}
/* line 550, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people #spotlight h1 {
  margin-top: 44px;
}
/* line 553, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people #spotlight h3 {
  margin-bottom: 22px;
}
/* line 556, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people #spotlight .link {
  margin-bottom: 0;
}
/* line 563, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people .employees .row:first-child,
.page-people .employees .row:nth-child(3) {
  margin-bottom: 22px;
}
/* line 566, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people .employees hr {
  margin-bottom: 22px;
}
/* line 572, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people .employees li:nth-child(6) .person {
  margin-right: 0;
}
/* line 575, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people .employees .person {
  display: block;
  margin-bottom: 22px;
  margin-right: 30px;
  min-height: 220px;
  min-width: 145px;
}
/* line 582, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people .employees .person:hover {
  text-decoration: none;
}
/* line 585, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people .employees .person .img {
  width: 100%;
  height: 110px;
  margin-bottom: 7px;
  text-align: center;
}
/* line 594, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-people .employees .person p {
  margin-bottom: -5px;
}

/* @end */
/* @group thoughts */
/* line 607, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts #thoughts-heading {
  margin-top: 66px;
}
/* line 610, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts hr {
  margin-bottom: 44px;
}
/* line 614, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts .blog-post ol, .page-thoughts .blog-post ul {
  margin-bottom: 1.5em;
  list-style: disc;
  margin-left: 1.5em;
}
/* line 619, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts .blog-post .img {
  width: 100%;
  height: 242px;
}
/* line 623, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts .blog-post .frame {
  margin-bottom: 22px;
}
/* line 626, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts .blog-post .heading {
  margin-bottom: 22px;
}
/* line 629, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts .blog-post .blog-content {
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  padding-bottom: 22px;
}
/* line 634, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts .blog-post .blog-sidebar {
  margin-top: 66px;
}
/* line 636, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts .blog-post .blog-sidebar p {
  margin-bottom: 0;
}
/* line 639, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts .blog-post .blog-sidebar .tags {
  margin-top: 22px;
  list-style: none;
  margin-left: 0;
}
/* line 643, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts .blog-post .blog-sidebar .tags a {
  font-weight: 400;
  display: block;
}
/* line 647, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts .blog-post .blog-sidebar .tags li a:after {
  content: ",";
}
/* line 650, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts .blog-post .blog-sidebar .tags li:last-child a:after {
  content: "";
}
/* line 655, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts .blog-post .blog-sidebar .comments a {
  color: #fefcf8;
  display: block;
  background-image: url("http://pebblecode/v2/images/comment.png");
  width: 20px;
  height: 26px;
  margin-top: 10px;
  padding: 4px 12px 6px;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
/* line 674, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts .blog-post .share-this-wrapper {
  clear: both;
}
/* line 679, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts #blog-navigation {
  margin: 60px 0 0 0;
}
/* line 683, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts #blog-navigation li {
  width: 50%;
}
/* line 687, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts #blog-navigation .prev {
  float: left;
}
/* line 691, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-thoughts #blog-navigation .next {
  float: right;
  text-align: right;
}

/* @end */
/* line 700, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-404 .row {
  margin-top: 66px;
}
/* line 703, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-404 .error-header {
  text-align: center;
}
/* line 706, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
.page-404 .error-copy {
  margin-top: 44px;
}

/* @group media queries Group */
@media only screen and (max-width: 1130px) {
  /* line 715, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-people .employees li:nth-child(6) .person {
    margin-right: 30px;
  }
}
@media only screen and (max-width: 650px) {
  /* line 724, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  [class*=columns] {
    width: 100%;
    margin-left: 0;
  }

  /* line 728, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  #wrap #wrap-footer {
    height: 80px;
  }

  /* line 731, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .row {
    margin-bottom: 22px;
  }

  /* line 734, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .size3 {
    font-size: 38px;
    line-height: 44px;
  }

  /* line 738, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .size4 {
    font-size: 38px;
    line-height: 44px;
  }

  /* line 744, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  header {
    position: relative;
    height: 118px;
  }
  /* line 748, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  header nav img {
    float: left;
    padding-top: 37px;
  }
  /* line 752, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  header nav ul {
    font-family: "meta-bold", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    line-height: 18px;
    width: 50%;
  }
  /* line 756, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  header nav ul li {
    float: left;
    width: 100%;
    text-align: right;
    margin: 5px 0;
  }

  /* line 768, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-homepage .slideshow {
    margin-top: -15px;
    height: 176px;
  }
  /* line 771, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-homepage .slideshow h1 {
    display: none;
  }
  /* line 776, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-homepage .slideshow .slides_container li.slide1 {
    background: #ee5080 url("http://pebblecode/v2/images/zebra-small.jpg") no-repeat center 110px;
  }
  /* line 783, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-homepage .columns2 a {
    margin-bottom: 44px;
  }

  /* line 795, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-work .row:first-child .columns3 {
    margin-top: -25px;
  }
  /* line 798, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-work .row:first-child p {
    padding-top: 47px;
  }
  /* line 802, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-work .case-study {
    padding-top: 22px;
    margin-bottom: 0;
  }
  /* line 806, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-work .frame {
    margin-bottom: 22px;
  }
  /* line 809, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-work h3 {
    font-size: 16px;
    line-height: 22px;
  }

  /* line 818, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-products .row:first-child .columns6 {
    margin-top: -25px;
  }
  /* line 823, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-products .row:nth-child(2) {
    margin-bottom: 0;
  }
  /* line 827, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-products .frame {
    margin-bottom: 22px;
  }
  /* line 830, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-products h2 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
  /* line 834, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-products hr {
    margin-bottom: 22px;
  }
  /* line 838, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-products .open-source p {
    margin-top: 22px;
  }

  /* line 846, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-people .people-img .columns6 {
    margin-top: -15px;
  }
  /* line 848, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-people .people-img .columns6 .img {
    height: 176px;
  }
  /* line 853, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-people .people-copy {
    margin-bottom: 0;
  }
  /* line 857, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-people #spotlight .row:first-child {
    margin-bottom: 22px;
  }
  /* line 860, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-people #spotlight hr {
    margin-bottom: 22px;
  }
  /* line 863, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-people #spotlight .img {
    width: 100%;
    height: 264px;
  }
  /* line 867, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-people #spotlight h2 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
  /* line 871, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-people #spotlight h3 {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 22px;
  }
  /* line 876, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-people #spotlight .link {
    margin-bottom: 0;
  }
  /* line 878, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-people #spotlight .link a {
    color: #a4ce4e;
  }
  /* line 885, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-people .employees li:nth-child(even) .person {
    margin-right: 0;
  }
  /* line 888, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-people .employees .person {
    width: 47.5%;
    float: left;
    margin-right: 17px;
    margin-bottom: 22px;
  }
  /* line 893, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-people .employees .person p {
    margin-bottom: -5px;
  }

  /* line 902, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-thoughts #thoughts-heading {
    margin-top: -15px;
  }
  /* line 905, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-thoughts hr {
    margin-bottom: 22px;
  }
  /* line 908, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-thoughts .blog-post {
    margin-bottom: 66px;
  }
  /* line 910, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-thoughts .blog-post .img {
    background: #faad40;
    height: 176px;
  }
  /* line 915, /Users/ttt/Work/Dev/pebblecode.com/views/stylesheets/_application.scss */
  .page-thoughts .blog-sidebar {
    display: none;
  }
}
/* media-q end */
/* @end */
