h1 
  | How we write software

h2
  | Build fast, release often
p We work agile. We do not take up time at the beginning of the project writing a lengthly technical specification and giving a fixed price. In our experience, this almost always ends up in multiple change requests, and subsequent deadline and budget overrun.
p However, with agile, we obviously take the time to understand the problem, but rather than thinking about for too long, we start building and releasing, fast, and with as much input from you as possible. This way, we get to launch date with the product that you really want, rather than the one that you thought you wanted.
p Our price estimates are based on a number of ‘sprints’ that are laid out at the beginning – the contents of these sprints can of course be reviewed at every turn… hence, agile.
h2
  | Great user experience
p We place a great deal of emphasis on the importance of User Experience. If users do not like to use the system then it could be as functionally brilliant as you like, but it will always be an uphill struggle.
p To nail this problem, we study, watch and interview you and your users and find out exactly what you want from the application. We define and manage a user group. We produce detailed wireframes demonstrating the user journey through the application and iterate through these with your user group.
p You and your users are involved at every step of the journey.

h1
  | Who we are

h2
  | Toby Hunt, CEO
p Insert image
h2
  | George Ornbo, Creative Director
p Insert image
h2
  | Alex Butcher, Technical Director
p Insert image
h2
  | Mark Durrant, UI/UX Designer
p Insert image
h2
  | Greg Jackman, Senior Developer
p Insert image
h2
  | Vincent Martínez, Developer
p Insert image
h2
  | Tu Tak Tran, Developer
p Insert image
h2
  | Joseph Jeganathan, Developer
p Insert image
h2
  | Toby Privett, Developer (sometimes!)
p Insert image
h2
  | Gayle Smith, Admin Assistant
p Insert image

h1
  | Where we work

h2
  | Google Map
p Insert Google Map
h2
  | Address
p W127 Westminster Business Square, 1-45 Durham Street, London SE11 5JH
p T: +44 (0) 20 3327 1081
p E: <a href="mailto:info@pebblecode.com">info@pebblecode.com</a>
h2
  | Our office
p Insert pictures of the office

h1
  | Where we come from

h2
  | Since 2006
p pebble was founded in 2006 and has been providing first class technical solutions and support to clients for over 5 years. pebble {code} was actually only incorporated in 2010 after a decision to split the software development and infrastructure support concerns (for more information on IT support, see <a href="http://pebbleit.com">pebble.it</a>). 
p We are passionate about producing inspirational software - <a href="mailto:info@pebblecode.com">get in touch</a> to find out how we can help you. 
