h1 How we work

ul.columns
  li.odd
    h3 Rapid development, regular deployment.
    p Quick, limber, spry... in a word we're agile.
    p At pebble {code} we believe in agile software development. We're not going to start a project by writing excessive technical specifications or arguing over a fixed budget for the final outcome. Having had to work like this before we realise that this usually leads to the need for multiple last minute changes which leads to inevitable overrun for both budgets and deadlines.
    p We like to start a project with questions, lots of questions. We want to understand your business, understand the problem we can help you solve and understand the best way to work together on a solution. After this we start building and releasing software builds rapidly. Each time taking input from you and from our experts to make sure at each step the application improves.
    p With your regular input and our creative insight we can make sure to deliver an application that does what you need, not what you thought you needed.    

  li.even
    h3 Awesome user experiences.
    p We've all come across products and services that do exactly what they’re supposed to but just don't feel right. Clunky interfaces, bizarre menus, and horribly designed forms litter the Internet. We believe in putting the user at the centre of our a development process. This is how we make sure that the experiences we craft for your customers aren’t just useful, they're enjoyable.
    p To make sure that we're getting it right we test products with potential users very early on in the development process. Using various prototyping methods we can make sure that we don't lose time on ideas that aren’t user friendly. We finish with software that is intuitive and beautiful without sacrificing functionality.
    p With pebble {code}'s agile development style you and your users are involved at every step of the journey. Making sure that the solutions we create impress on every level.
 
hr

h1 Who we are

ul.who
  li.toby
    img(src='/images/mugs/toby.gif')
    h2
      |<span>Toby Hunt</span> 
    h3
      |CEO
       
  li.george
    img(src='/images/mugs/george.gif')
    h2
      | <span>George Ornbo</span> 
    h3
      |Creative Director
    
  li.alex
    img(src='/images/mugs/alex.gif')  
    h2
      | <span>Alex Butcher</span> 
     h3
      |Technical Director
    
  li.mark
    img(src='/images/mugs/mark.gif')
    h2
      | <span>Mark Durrant</span> 
    h3
      |UI/UX Designer
    
  li.greg
    img(src='/images/mugs/greg.gif')
    h2
      | <span>Greg Jackman</span>  
    h3
      |Senior Developer
    
  li.vince
    img(src='/images/mugs/vince.gif')
    h2
      | <span>Vincent Martínez</span>
    h3 
      |Developer
    
  li.tak
    img(src='/images/mugs/tak.gif')
    h2
      | <span>Tu Tak Tran</span>
    h3
      |Developer
    
  li.joseph
    img(src='/images/mugs/joseph.gif')
    h2
      | <span>Joseph Jeganathan</span>
    h3
      |Developer
    
  li.gayle
    img(src='/images/mugs/gayle.gif')
    h2
      | <span>Gayle Smith</span>
    h3
      |Admin Assistant
  

hr
h1 
  |Where we work

section.map
  <iframe width="100%" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;q=pebble+{code}&amp;fb=1&amp;gl=uk&amp;hq=pebble+it&amp;hnear=0x47d8a00baf21de75:0x52963a5addd52a99,London&amp;cid=0,0,15334610730680100976&amp;t=m&amp;vpsrc=6&amp;ll=51.487823,-0.117674&amp;spn=0.005612,0.00912&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small>

section.address
  h2
    | Address
  p W127 Westminster Business Square 
  p 1-45 Durham Street 
  p London SE11 5JH
  p T: +44 (0) 20 3327 1081
 
    |E: <a href="mailto:info@pebblecode.com">info@pebblecode.com</a>