h1 How we work

ul.columns
  li.about-odd
    h3 Rapid creative insight and deployment.
    p Forget excessive technical specifications or arguing over budget, we get straight to the heart of the matter. What your business needs is our priority. When we start we ask lots of questions, then – with your ongoing input and our creative insight – we will develop your application. We pride ourselves on providing an agile, rapid service that delivers the application your business needs.    

  li.about-even
    h3 Unbeatable user experiences.
    p By putting the user at the centre of our development process (we test prototypes with potential users early on in development) we craft products that aren’t just useful, but enjoyable and fun to use. No clunky interfaces, strange menus or horribly designed forms; just sleek, intuitive applications with amazing functionality.
 
hr

h1 Who we are

ul.who
  li.toby
    img(src='/images/mugs/toby.gif')
    h2
      |<span>Toby Hunt</span> 
    h3
      |CEO
  
  li.george
    img(src='/images/mugs/george.gif')
    h2
      | <span>George Ornbo</span> 
    h3
      |Creative Director
    
  li.alex
    img(src='/images/mugs/alex.gif')  
    h2
      | <span>Alex Butcher</span> 
     h3
      |Technical Director
    
  li.mark
    img(src='/images/mugs/mark.gif')
    h2
      | <span>Mark Durrant</span> 
    h3
      |UI/UX Designer
    
  li.greg
    img(src='/images/mugs/greg.gif')
    h2
      | <span>Greg Jackman</span>  
    h3
      |Senior Developer
    
  li.vince
    img(src='/images/mugs/vince.gif')
    h2
      | <span>Vincent Martínez</span>
    h3 
      |Developer
    
  li.tak
    img(src='/images/mugs/tak.gif')
    h2
      | <span>Tu Tak Tran</span>
    h3
      |Developer
    
  li.joseph
    img(src='/images/mugs/joseph.gif')
    h2
      | <span>Joseph Jeganathan</span>
    h3
      |Developer
      
  li.matt
    img(src='/images/mugs/matt.gif')
    h2
      | <span>Matt Ward</span>
    h3
      |Senior Developer
      
  li.daniel
    img(src='/images/mugs/dan.gif')
    h2
      | <span>Daniel Bradley</span>
    h3
      |Developer
    
  li.gayle
    img(src='/images/mugs/gayle.gif')
    h2
      | <span>Gayle Smith</span>
    h3
      |Admin Assistant
  

hr
h1 
  |Where we work

section.map
  <iframe width="100%" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;iwloc=&amp;geocode=&amp;q=SE11+5JH&amp;aq=&amp;sll=53.800651,-4.064941&amp;sspn=14.327693,43.110352&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=London+SE11+5JH,+United+Kingdom&amp;t=m&amp;z=14&amp;ll=51.485981,-0.11839&amp;output=embed"></iframe>
  
section.address
  h2
    | Address
  p W127 Westminster Business Square 
  p 1-45 Durham Street 
  p London SE11 5JH
  p T: +44 (0) 20 3327 1081
  p E: <a href="mailto:info@pebblecode.com">info@pebblecode.com</a>
  
hr
section.pebbleit

  h1
    |<a href="http://pebbleit.com/">pebble.it</a>
  p The pebble{code} philosophy and approach (as well as our office) is shared by our sister company <a href="http://pebbleit.com/">pebble.it</a> <br> Who provide IT infrastructure, solutions and support for business in the London area.