h4 How we work (h1 tag did not work due to float.left)

h2 Rapid development, regular deployment.
p Quick, limber, spry... in a word we're agile.
p At pebble {code} we believe in agile software development (link to wiki?). We're not going to start a project by writing excessive technical specifications or arguing over a fixed budget for the final outcome. Having had to work like this before we realise that this usually leads to the need for multiple last minute changes which leads to inevitable overrun for both budgets and deadlines.
p We like to start a project with questions, lots of questions. We want to understand your business, understand the problem we can help you solve and understand the best way to work together on a solution. After this we start building and releasing software builds rapidly. Each time taking input from you and from our experts to make sure at each step the application improves.
p With your regular input and our creative insight we can make sure to deliver an application that does what you need, not what you thought you needed.
h2 Awesome user experiences.
p We've all come across products and services that do exactly what they’re supposed to but just don't feel right. Clunky interfaces, bizarre menus, and horribly designed forms litter the Internet. We believe in putting the user at the centre of our a development process. This is how we make sure that the experiences we craft for your customers aren’t just useful, they're enjoyable.
p To make sure that we're getting it right we test products with potential users very early on in the development process. Using various prototyping methods we can make sure that we don't lose time on ideas that aren’t user friendly. We finish with software that is intuitive and beautiful without sacrificing functionality.
p With pebble {code}'s agile development style you and your users are involved at every step of the journey. Making sure that the solutions we create impress on every level. 

hr
p Who we are

h2
  | Toby Hunt, CEO
p Insert image
h2
  | George Ornbo, Creative Director
p Insert image
h2
  | Alex Butcher, Technical Director
p Insert image
h2
  | Mark Durrant, UI/UX Designer
p Insert image
h2
  | Greg Jackman, Senior Developer
p Insert image
h2
  | Vincent Martínez, Developer
p Insert image
h2
  | Tu Tak Tran, Developer
p Insert image
h2
  | Joseph Jeganathan, Developer
p Insert image
h2
  | Toby Privett, Developer (sometimes!)
p Insert image
h2
  | Gayle Smith, Admin Assistant
p Insert image

hr
p Where we work

h2
  | Google Map
p Insert Google Map
h2
  | Address
p W127 Westminster Business Square, 1-45 Durham Street, London SE11 5JH
p T: +44 (0) 20 3327 1081
p E: <a href="mailto:info@pebblecode.com">info@pebblecode.com</a>
h2
  | Our office
p Insert pictures of the office

hr
p Where we come from

h2
  | Since 2006
p pebble was founded in 2006 and has been providing first class technical solutions and support to clients for over 5 years. pebble {code} was actually only incorporated in 2010 after a decision to split the software development and infrastructure support concerns (for more information on IT support, see <a href="http://pebbleit.com">pebble.it</a>). 
p We are passionate about producing inspirational software - <a href="mailto:info@pebblecode.com">get in touch</a> to find out how we can help you. 
