%section.row
  .columns6
    <iframe width="100%" height="396" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=pebble+code+w123&amp;sll=53.800651,-4.064941&amp;sspn=19.406082,50.756836&amp;ie=UTF8&amp;hq=pebble+code+w123&amp;ll=51.4942,-0.119186&amp;spn=0.013896,0.032015&amp;t=m&amp;output=embed"></iframe>