- content_for :title do
  The archive - software development company blog | pebble code
- content_for :description do
  News, ideas and opinions from the people at pebble code. If it's got us thinking, we write about it here - the internet, design, business and more.
- content_for :keywords do
  blog, thoughts, news, ideas, opinons, people, thinking, write, internet, company, design, business, coding, development, events, London


%h1.size3 the archive
%h2.size2 design, code, business, & everything in-between
%hr.orange-background

#archive-list