- content_for :title do
  User-focused software development - our work | pebble code
- content_for :description do
  Learn about software and web apps we've designed and created, and see which areas of software development we specialise in.
- content_for :keywords do
  work, design, development, gaming, games, platform, finance, investment, HTML5, .NET, user experience, agile, web app, client, devices, pebble code 

%h1 this is the archive

#archive-list