- content_for :title do
  Location, address and contact details | pebble code
- content_for :description do
  See where in London pebble code is based, get a map and view full contact details for this software development company.
- content_for :keywords do
  pebble, pebble code, contact, address, details, Vauxhall, street, email, map, find us, welcome, tea, meet, office

%section.row
  .columns6.frame
    #map

.row
  .coluns6
    %p.intro We're based just south of the river, in Vauxhall, London. If you want to stop by for a chat, let us know and we'll have tea and biscuits ready and waiting.
    %address
      %h2.size2 pebble {code}
      %h2.size2 W123 Westminster Business Square
      %h2.size2 1-45 Durham Street
      %h2.size2 London
      %h2.size2 SE11 5JH
    %p.directions The nearest underground stations to us are Vauxhall or Oval, and the nearest overground station is Vauxhall. If  you are coming by car, please let us know and we'll arrange parking.
    .contact
      %h3
        %a.size2{:href => "tel:+442033273940"} +44 (0) 20 3327 3940
      %h3
        %a.size2{:href => "mailto:hello@pebblecode.com"} hello@pebblecode.com