- content_for :title do
  Location, address and contact details | pebble code
- content_for :description do
  See where in London pebble code is based, get a map and view full contact details for this software development company.
- content_for :keywords do
  pebble, pebble code, contact, address, details, Vauxhall, street, email, map, find us, welcome, tea, meet, office
%section.row
  .columns6
    <iframe width="100%" height="396" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=pebble+code+W123+Westminster+Business+Square&amp;aq=&amp;sll=51.497055,-0.123198&amp;sspn=0.041893,0.105572&amp;ie=UTF8&amp;hq=pebble+code+W123+Westminster+Business+Square&amp;hnear=&amp;t=m&amp;ll=51.4942,-0.092986&amp;spn=0.013896,0.032015&amp;t=m&amp;output=embed"></iframe>

.row
  .coluns6
    %p We're based in Vauxhall, just south of the river in London. Let us know if you want to stop by for a chat and we'll get the tea and biscuits in.
    %address
      %h2.size2 Pebble Code Limited
      %h2.size2 W123 Westminster Business Square
      %h2.size2 1-45 Durham Street
      %h2.size2 London
      %h2.size2 SE11 5JH
    %h2.size2
      %a{:href => "tel:+44 20 3327 3940"} +44 20 3327 3940
    %h2.size2
      %a{:href => "mailto:hello@pebblecode.com"} hello@pebblecode.com
    %p Tube:  Vauxhall (Victoria Line)
    %p Train:  Vauxhall Overground station
    %p Car:  We're just outside the congestion charging zone and we can arrange parking with a little notice.
