
h1.home
  | We create apps that supercharge businesses

ul.work-listing
  li.ldntaxi.odd
    h3
      a(href="/work#ldntaxi")
        <span>2,000</span> Taxis Hailed
  li.woohoo.even
    h3
      a(href="/work#woohoo")
        <span>20,000</span> Games Played

  li.aljazeera.odd
    h3
      a(href="/work#aljazeera")
        <span>7,000</span> Films Scheduled
  li.takefive.even
    h3
      a(href="/work#takefive")
        <span>15,000</span> Actors Cast

  li.ideapi.odd
    h3
      a(href="/work#ideapi")
        <span>1,000</span> Ideas Shared
  li.downunder.even
    h3
      a(href="/work#downunder")
        <span>10,000</span> Courses Sold

  li.space.odd
    h3
      a(href="/work#space")
        <span>500</span> Studios Managed
  li.stink.even
    h3
      a(href="/work#stink")
        <span>300</span> Projects, <span>150</span> Users
