%section.row
  .columns6
    .slideshow
      .frame
        %ul.slides_container
          %li.slide1
            %h1.size4 Slide one
            %h2.size2 pebble strapline - yeah we the shit! -
          %li.slide2
            %h1.size4 Slide two
            %h2.size2 Agile software development using the best tools for the problem.
            %h2.size2 Using Ruby on Rails, Javascript, C#, F#, .Net and Node.js. 
          %li.slide3
            %h1.size4 Tricklr
            %h2.size2 A web app for high volume tweeters. Put tweets in a queue and let Tricklr spread them out for you.
          %li.slide4
            %h1.size4 Slide four
            %h2.size2 Winners of: People's Choice Award & Judge's Award @ EcoMo '09 Mobile Development Camp & Social Business Prize @ HackDayParis.org
          %li.slide5
            %h1.size4 Vistazo
            %h2.size2 An ultra-simple web app for managing teams.
          %li.slide6
            %h1.size4 Slide six
            %h2.size2 Successfully writing software for: Hedge Funds, Gambling, TV Production and Broadcasting.
%section.row
  %article.columns2
    %h2.size2 Work with us
    %p We are always looking for talented software developers to join the team. If you have a passion for .Net, Ruby or Javascript and are keen to join a small, fun and agile team <a href="mailto:noagencies@pebblecode.com">let us know</a>
  %article.columns2
    %h2.size2 Latest Release
    %p We have just launched Vistazo - an ultra-simple web app for managing teams. Check it out at <a href="http://vistazoapp.com">vistazoapp.com</a> - we hope you like it. Feedback to <a href="mailto:vistazo@pebblecode.com">vistazo@pebblecode.com</a>
  %section#recent-posts.columns2
    / Filled in using js
