- content_for :title do
  We design and develop elegant software and apps | pebble code
- content_for :description do
  Software and app design and development. Agile approach, technical experts, front-end design. We turn complicated problems into simple, beautiful apps!
- content_for :keywords do
  pebble, pebble code, software, app, web app, design, development, beautiful, agile, software, simple, London, technical, Vistazo, Tricklr

%section.row
  .columns6
    .slideshow
      .frame
        %ul.slides_container
          %li.slide1
            %h1.size4 Expert coding. 
            %h1.size4 Elegant design.
            %h2.size2 We build software that's a joy to use.
          %li.slide-good
            %h1.size4 pebble's good {code} 
            %h2.size2 pebble {code} is giving away one month of development / design time to a charity or not-for-profit. 
            %h2.size2 <a href="/pebbles-good-code">Find out more.</a>
          %li.slide2
            %h1.size4 We speak many languages
            %h2.size2 Our expertise includes F#, C#, Ruby, Rails, Node.js, JavaScript and HTML5.
          %li.slide3
            %h1.size4 Apps we've built
            %h2.size2 We've built some apps to make our lives easier - try them in your business too. <a href="/products">Tricklr</a>. <a href="/products">Vistazo</a>.

%section.row
  %article.columns2
    %h2.size2 Join the team
    %p We work with cutting-edge technology on technically difficult problems. If you want to work with first-rate developers in a stimulating environment, <a href="mailto:jobs@pebblecode.com">contact us.</a>
  %article.columns2
    %h2.size2 What's new?
    %p pebble {code} is giving away one month of development / design time to a charity or not-for-profit. <a href="/pebbles-good-code">Find out more.</a>
  %section#recent-posts.columns2
    / Filled in using js
