%section.row
  .columns6.strapline
    %h1.size4 pebble stapline
    %h1.size4 - yeah we the shit -
%section.row
  .columns6
    .slideshow
      .frame
        .slides_container
          .slide1
            %h1.size4 Slide one
          .slide2
            %h1.size4 Slide two
          .slide3
            %h1.size4 Slide three
          .slide4
            %h1.size4 Slide four
          .slide5
            %h1.size4 Slide five
          .slide6
            %h1.size4 Slide six
%section.row
  %article.columns2
    %h2.size2 Newest work : Client / Product
    %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    %a{:href => "http://"} read more...
  %article.columns2
    %h2.size2 Jobs : Node book
    %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    %a{:href => "http://"} read more...
  %section.columns2
    %article.blog-snipet
      %h2.size2 Blog post one
      %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      %a{:href => "http://"} read more...
    %article.blog-snipet
      %h2.size2 Blog post two
      %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      %a{:href => "http://"} read more...