%section.row
  .columns6
    .slideshow
      .frame
        %ul.slides_container
          %li.slide1
            %h1.size4 Slide one
          %li.slide2
            %h1.size4 Slide two
            %h2.size2 Yeah! something about how this slide is cool. Really really Cool. -Responisvationalized! 
          %li.slide3
            %h1.size4 Slide three
          %li.slide4
            %h1.size4 Slide four
          %li.slide5
            %h1.size4 Slide five
          %li.slide6
            %h1.size4 Slide six
%section.row
  %article.columns2
    %h2.size2 Work with us
    %p We are always looking for talented software developers to join the team. If you have a passion for .Net, Ruby or Javascript and are keen to join a small, fun and agile team <a href="mailto:noagencies@pebblecode.com">let us know</a>
  %article.columns2
    %h2.size2 Latest Release
    %p We have just launched Vistazo - an ultra-simple web app for managing teams. Check it out at <a href="http://vistazoapp.com">vistazoapp.com</a> - we hope you like it. Feedback to <a href="mailto:vistazo@pebblecode.com">vistazo@pebblecode.com</a>
  %section.columns2
    %article.blog-snipet
      %h2.size2 Blog post one
      %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      %a{:href => "http://"} read more...
    %article.blog-snipet
      %h2.size2 Blog post two
      %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      %a{:href => "http://"} read more...