- content_for :title do
  We design and develop elegant software and apps | pebble code
- content_for :description do
  Software and app design and development. Agile approach, technical experts, front-end design. We turn complicated problems into simple, beautiful apps!
- content_for :keywords do
  pebble, pebble code, software, app, web app, design, development, beautiful, agile, software, simple, London, technical, Vistazo, Tricklr

%section.row
  .columns6
    .slideshow
      .frame
        %ul.slides_container
          %li.slide1
            %h1.size3 Expert coding. 
            %h1.size3 Elegant design.
            %h2.size2 We build software that's a joy to use.
          %li.slide2
            %h1.size4 We're agile!
            %h2.size2 
              So we can develop and change software faster. And as our expertise includes Ruby on Rails, .NET, C#, F#, JavaScript and Node.js, we'll always use the best tools for the job.
          %li.slide3
            %h1.size4 Tricklr
            %h2.size2 
              Tricklr sends your tweets regularly, so you can stay active on Twitter without it taking over your day.
          %li.slide4
            %h1.size4 Work with winners
            %h2.size2 Our awards include: People's choice award and Judges' award, EcoMo '09; and the Social business prize, HackDayParis '11.
          %li.slide5
            %h1.size4 Vistazo
            %h2.size2 Vistazo makes it easy to see what everyone in your team is working on, at a glance.

%section.row
  %article.columns2
    %h2.size2 Join the team
    %p We work on cool projects for exciting clients. If you want to team up with other smart developers at a company where you'll enjoy yourself, contact us. No agencies, please. <a href="mailto:jobs@pebblecode.com">jobs@pebblecode.com</a>
  %article.columns2
    %h2.size2 What's new?
    %p The latest version of Vistazo - an easy app to help you manage your team - is now available. Get started instantly. <a href="mailto:vistazo@pebblecode.com">Learn about Vistazo</a>
  %section#recent-posts.columns2
    / Filled in using js
