#wrap
  .row
    .columns6
      .frame
        .data-vis

  .row
    .columns6.intro
      %h1.size3 olympic json api
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.

  .row.documentation-list
    .columns6
      %h2.size2 Documentation
      %ol
        %li
          %a{:href => "#section-1"} Section one
        %li
          %a{:href => "#section-2"}  Section two
        %li
          %a{:href => "#section-3"} Section three
        %li
          %a{:href => "#section-4"} Section four
        %li
          %a{:href => "#section-5"} Section five
        %li
          %a{:href => "#section-6"} Section six
      %a{:name => "section-1"}


  .row.documentation
    .columns6.size2
      %h3 Section one
      %p Lorem ipsum Duis aliqua nisi qui irure eu ut est in mollit reprehenderit. Lorem ipsum dolor id nisi anim est sed eu. Lorem ipsum labore nostrud ad dolore ad adipisicing.
      %a{:name => "section-2"}

    .columns6.size2
      %h3 Section two
      %p Lorem ipsum Duis aliqua nisi qui irure eu ut est in mollit reprehenderit. Lorem ipsum dolor id nisi anim est sed eu. Lorem ipsum labore nostrud ad dolore ad adipisicing.
      %a{:name => "section-3"}

    .columns6.size2
      %h3 Section three
      %p Lorem ipsum Duis aliqua nisi qui irure eu ut est in mollit reprehenderit. Lorem ipsum dolor id nisi anim est sed eu. Lorem ipsum labore nostrud ad dolore ad adipisicing.
      %a{:name => "section-4"}

    .columns6.size2
      %h3 Section four
      %p Lorem ipsum Duis aliqua nisi qui irure eu ut est in mollit reprehenderit. Lorem ipsum dolor id nisi anim est sed eu. Lorem ipsum labore nostrud ad dolore ad adipisicing.
      %a{:name => "section-5"}

    .columns6.size2
      %h3 Section five
      %p Lorem ipsum Duis aliqua nisi qui irure eu ut est in mollit reprehenderit. Lorem ipsum dolor id nisi anim est sed eu. Lorem ipsum labore nostrud ad dolore ad adipisicing.
      %a{:name => "section-6"}

    .columns6.size2
      %h3 Section six
      %p Lorem ipsum Duis aliqua nisi qui irure eu ut est in mollit reprehenderit. Lorem ipsum dolor id nisi anim est sed eu. Lorem ipsum labore nostrud ad dolore ad adipisicing.
  #wrap-footer