.row
  .columns6
    .frame
      .dava-vis

.row
  .columns6.intro
    %h1 olympic json api
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.

.row
  .columns6.documentation
    %h2 Documentation
    %ol
      %li
        %a Section one
      %li
        %a Section two
      %li
        %a Section three
      %li
        %a Section four
      %li
        %a Section five
      %li
        %a Section six

.row
  .columns6
    %h3 Section one
    %p Lorem ipsum Duis aliqua nisi qui irure eu ut est in mollit reprehenderit. Lorem ipsum dolor id nisi anim est sed eu. Lorem ipsum labore nostrud ad dolore ad adipisicing. 
    %pre.language-javascript
      // Define our Function
      function checkMeaningOfLife ( decimal, success ) {
          if ( parseInt(decimal,10) === 42 ) {
              window.console.log(success);
          }
      };
      // Define our Variables
      var str = 'The meaning of life is true, The meaning of life is true, The meaning of life is true',
          decimal = 42.00;
      // Fire our Function
      checkMeaningOfLife(decimal,success);


