- content_for :script_js do
  %script{ :type => "text/javascript" }
    :plain
      require(["main"], function() {
        require(["app/labs"]);
      });
- content_for :title do
  Our Labs - projects from 10% time, hack-days, and all our other coding adventures | pebble {code}
- content_for :description do
  See our Twitter automation and easy team management apps. Straightforward, effective, easy-to-use software from pebble code.
- content_for :keywords do
  Trickr, Vistazo, team, time, track, manage, Twitter, automation, open source, software, apps, simplify, tools, workload, web apo, efficient, easy

.rows
  .labs-header
    .labs-header-img
%hr.background-random
.labs-filtering
  %button.filter.frame{:filter => ".ten-time"} 10% time
  %button.filter.frame{:filter => ".olympic"} Olympics hack day
  %button.filter.frame{:filter => ".games"} Games hack day
  %button.filter.frame{:filter => ".education"} Education hack day
  %button.filter.frame{:filter => ".product"} products
  %button.filter.frame.clear-filters{:filter => "*"} &#x2715;
%hr.background-random
%section.projects-list
  %ul
    - @projects.shuffle!
    - random_index = rand(@projects.length)
    - @projects.each_with_index do |p, index|
      %li.project.frame{:class => p[:type]}
        - if p[:image]
          %img{:src => p[:image], :height => "306px"}
        %h3.project-title.size2= p[:title]
        %p.project-by= p[:pebblers]
        %p.project-description= p[:description]
        - if p[:live_link]
          %a{:href => p[:live_link], :target => "_blank", :class => "project-link live-link"} view the project
        - if p[:github]
          %a{:href => p[:github], :target => "_blank", :class => "project-link github-link"} view on Github
        - if p[:blog_link]
          %a{:href => p[:blog_link], :target => "_blank", :class => "project-link blog-link"}= p[:blog_text]