!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1', name='viewport')
    script(src="/javascripts/modernizr.custom.58445.js")
    script(src='http://use.typekit.com/asa8yjy.js')
    script
      try{Typekit.load();}catch(e){}
  body
    section.wrapper
      header
        nav
          h1
            a(href="/home") pebble {code}
          ul
            li
              a.blog(href="http://blog.pebblecode.com") Blog
            li
              a.about(href="/about") About
            li
              a.work(href="/work") Work 
        section.navshadow
     
      section.content!= body
      footer 
        p 
          | Pebble Code Limited registered in England and Wales <br />
          | Company Number 07240178 <br />
          | VAT Registration Number GB 991816382
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(src="/javascripts/application.js")
