!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script type="text/javascript" src="http://use.typekit.com/asa8yjy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  body
    section.wrapper
      header
        nav
          h1.tk-ff-meta-web-pro
            a(href="/") pebble {code}
          ul
            li
              a.work(href="/work") Work
            li
              a.about(href="/about") About
            li
              a.blog(href="/blog") Blog
      section.content!= body
        p 
          | Pebble Code Limited registered in England and Wales <br />
          | Company Number 07240178 <br />
          | VAT Registration Number GB 991816382
        p 
          | Pebble Code Limited registered in England and Wales <br />
          | Company Number 07240178 <br />
          | VAT Registration Number GB 991816382
        p 
          | Pebble Code Limited registered in England and Wales <br />
          | Company Number 07240178 <br />
          | VAT Registration Number GB 991816382
        p 
          | Pebble Code Limited registered in England and Wales <br />
          | Company Number 07240178 <br />
          | VAT Registration Number GB 991816382
        p 
          | Pebble Code Limited registered in England and Wales <br />
          | Company Number 07240178 <br />
          | VAT Registration Number GB 991816382
        p 
          | Pebble Code Limited registered in England and Wales <br />
          | Company Number 07240178 <br />
          | VAT Registration Number GB 991816382
        p 
          | Pebble Code Limited registered in England and Wales <br />
          | Company Number 07240178 <br />
          | VAT Registration Number GB 991816382
        p 
          | Pebble Code Limited registered in England and Wales <br />
          | Company Number 07240178 <br />
          | VAT Registration Number GB 991816382
      footer 
        p 
          | Pebble Code Limited registered in England and Wales <br />
          | Company Number 07240178 <br />
          | VAT Registration Number GB 991816382
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="/javascripts/application.js"></script>
