- content_for :title do
  We design and develop elegant software and apps | pebble code
- content_for :description do
  Software and app design and development. Agile approach, technical experts, front-end design. We turn complicated problems into simple, beautiful apps!
- content_for :keywords do
  pebble, pebble code, software, app, web app, design, development, beautiful, agile, software, simple, London, technical, Vistazo, Tricklr
- content_for :js_lib do
  %script{:src => "/javascripts/lib/jquery.validate.min.js", :type => "text/javascript"}

%section.row
  .columns12
    %h1<
      pebble&#039;s&nbsp;
      %span.green> Good
      &nbsp;{code}
    %p Giving away one month of development / design time to one lucky charity or not-for-profit.
    %hr.pink-background
    %h3 who are we?
    %p pebble {code} was founded in 2010 to provide clients with bespoke software applications to help them run their businesses. From financial services to online gaming, pebble {code} has tackled lots of hard software problems. For more information, have a look around the site.
    %h3
      why pebble&#039;s&nbsp;
      %span.green> Good
      &nbsp;{code}
    %p<
      pebble {code}&rsquo;s experienced, approachable, friendly and professional team of software developers and designers, is offering
      %strong> &nbsp;one months of free service&nbsp;
      to a
      %strong charitable / not-for-profit organisation.
      Whether you have a problem you need to solve, or want to explore a fresh idea, if we agree that it can be done (or at least started) in one month, we&rsquo;ll have a go!
    %p First and foremost, we want to build a reputation for producing top class software. We&rsquo;re also committed to doing so in a socially responsible manner, and by contributing to the open source community.
    %h3 open source?
    %p Open source software is software that anyone can use or modify. We have used software from many open source projects in the past, and want to give back to that community.
    %h3 what can we do?
    %p pebble {code}&rsquo;s main expertise lies in our ability to solve complex problems, although there is a limit to the amount of complexity that we can build in one month with one developer and one designer. Our main available resources at the moment are in our web department.  Some realistic project examples that could feasibly be tackled and solved in one month:
    %ul
      %li A web-based database to track donors
      %li Add an online survey component to your website
      %li A funky data visualisation based on your sector
      %li A web application prototype that tracks projects and contacts
      %li A browser based game
    %h3 applications
    %p<
      Please fill out the simple web form below by
      %strong> &nbsp;midday 12th October 2012&nbsp;
      Successful applicants will be notified by email shortly after the closing date and we will set up interviews via Skype (or face to face if in London).
    %p We&rsquo;re aiming to start and complete a one month project before the end of this year and we would like to showcase results and experience via our blogs to gain some good exposure for your organisation.
    %p We look forward to hearing from you.

    %hr.pink-background

    :plain
      <script type="text/javascript">var submitted=false;</script>
      <iframe name="hidden_iframe" id="hidden_iframe"
      style="display:none;" onload="if(submitted) {window.location='/pebbles-good-code-form-complete';}"></iframe>
    %form#ss-form{:action => "https://docs.google.com/a/pebblecode.com/spreadsheet/formResponse?formkey=dDhkOTJwaXVOOVpmSmNiWlFjT0NQSkE6MQ&theme=0AX42CRMsmRFbUy1iOGYwN2U2Mi1hNWU0LTRlNjEtYWMyOC1lZmU4ODg1ODc1ODI&ifq", :method => "POST", :target => "hidden_iframe", :onsubmit => "submitted=true;"}
      %p.size0 (all fields are required)

      .ss-form-entry.ss-form-entry-short
        %label.ss-q-title{:for => "entry_0"}
          Organisation name
        %input#entry_0.ss-q-short{:name => "entry.0.single", :type => "text", :value => "", :class => "required", :maxLength => "100"}/

      .ss-form-entry.ss-form-entry-short
        %label.ss-q-title{:for => "entry_1"}
          Organisation website
        %input#entry_1.ss-q-short{:name => "entry.1.single", :type => "text", :value => "http://", :class => "required url", :maxLength => "100"}/

      .ss-form-entry.ss-form-entry-short
        %label.ss-q-title{:for => "entry_2"}
          Name
        %input#entry_2.ss-q-short{:name => "entry.2.single", :type => "text", :value => "", :class => "required", :maxLength => "100"}/

      .ss-form-entry.ss-form-entry-short
        %label.ss-q-title{:for => "entry_3"}
          Email
        %input#entry_3.ss-q-short{:name => "entry.3.single", :type => "text", :value => "", :class => "required email", :maxLength => "150"}/

      .ss-form-entry
        %label.ss-q-title{:for => "entry_4"}
          Organisation description
        %label.ss-q-help.size0{:for => "entry_4"} Tell us a little bit about your organisation. (max 150 words)
        %textarea#entry_4.ss-q-long{:cols => "75", :name => "entry.4.single", :rows => "8", :class => "required lessThan150Words"}

      .ss-form-entry
        %label.ss-q-title{:for => "entry_5"}
          Idea / problem description
        %label.ss-q-help.size0{:for => "entry_5"} Tell us a little about your idea or problem. (max 150 words)
        %textarea#entry_5.ss-q-long{:cols => "75", :name => "entry.5.single", :rows => "8", :class => "required lessThan150Words"}

      .ss-form-entry
        %label.ss-q-title{:for => "entry_7"}
          How did you find out about this opportunity?
        %textarea#entry_7.ss-q-long{:cols => "75", :name => "entry.7.single", :rows => "3", :class => "required", :maxLength => "1000"}

      .ss-form-entry
        %input.submit{:name => "submit", :type => "submit", :value => "Submit"}/