- content_for :title do
  We design and develop elegant software and apps | pebble code
- content_for :description do
  Software and app design and development. Agile approach, technical experts, front-end design. We turn complicated problems into simple, beautiful apps!
- content_for :keywords do
  pebble, pebble code, software, app, web app, design, development, beautiful, agile, software, simple, London, technical, Vistazo, Tricklr

%section.row
  %h1 pebble&#039;s good {code}
  %h2 Thank you for applying to pebble&#039;s good {code}
  %p We will review your application and contact you shortly. 
  %a{:href => "#spotlight", :class => "complete-links"} Go back to pebble&#039;s good {code}
