- content_for :title do
  We design and develop elegant software and apps | pebble code
- content_for :description do
  Software and app design and development. Agile approach, technical experts, front-end design. We turn complicated problems into simple, beautiful apps!
- content_for :keywords do
  pebble, pebble code, software, app, web app, design, development, beautiful, agile, software, simple, London, technical, Vistazo, Tricklr

%section.row
  .columns12
    %h1 pebble&#039;s good {code}
    %h3 Who are we?
    %p Who are pebble {code}? What do we do?
    %h3 What is on offer?
    %p What are we offering (dev time) - and what could you do with it. (dev will come up with some examples here)
    %h3 Why are we offering it?
    %p Because we are awesome. And nice.
    %h3 What is open source?
    %p Explain what open source means (anyone can see how it is made and use/modify it themselves. ). Explain why we&#039;re doing it open source. (because its awesome.)
    %h3 Who are we offering it to?
    %p Charities and nonprofits.
    %h3 Application process
    %p We don&rsquo;t really know this yet.
    %h3 FAQ
    %p for smaller questions

    %form#ss-form{:action => "https://docs.google.com/a/pebblecode.com/spreadsheet/formResponse?formkey=dDhkOTJwaXVOOVpmSmNiWlFjT0NQSkE6MQ&theme=0AX42CRMsmRFbUy1iOGYwN2U2Mi1hNWU0LTRlNjEtYWMyOC1lZmU4ODg1ODc1ODI&ifq", :method => "POST"}

      %h3 Application
      %p all fields are required

      .ss-form-entry.ss-form-entry-short
        %label.ss-q-title{:for => "entry_0"}
          Your organizations name
        %input#entry_0.ss-q-short{:name => "entry.0.single", :type => "text", :value => ""}/

      .ss-form-entry.ss-form-entry-short
        %label.ss-q-title{:for => "entry_1"}
          Your organizations website
        %input#entry_1.ss-q-short{:name => "entry.1.single", :type => "text", :value => ""}/

      .ss-form-entry.ss-form-entry-short
        %label.ss-q-title{:for => "entry_2"}
          Your name
        %input#entry_2.ss-q-short{:name => "entry.2.single", :type => "text", :value => ""}/

      .ss-form-entry.ss-form-entry-short
        %label.ss-q-title{:for => "entry_3"}
          Your email
        %input#entry_3.ss-q-short{:name => "entry.3.single", :type => "text", :value => ""}/

      .ss-form-entry
        %label.ss-q-title{:for => "entry_4"}
          Organization description
        %label.ss-q-help.size0{:for => "entry_4"} Tell us a little bit about your organization. (max 150 words)
        %textarea#entry_4.ss-q-long{:cols => "75", :name => "entry.4.single", :rows => "8"}

      .ss-form-entry
        %label.ss-q-title{:for => "entry_5"}
          Idea / problem description
        %label.ss-q-help.size0{:for => "entry_5"} Tell us a little about your idea or problem. (max 150 words)
        %textarea#entry_5.ss-q-long{:cols => "75", :name => "entry.5.single", :rows => "8"}

      .ss-form-entry
        %label.ss-q-title{:for => "entry_7"}
          How did you find out about this opportunity?
        %textarea#entry_7.ss-q-long{:cols => "75", :name => "entry.7.single", :rows => "3"}
    
      .ss-form-entry
        %input.submit{:name => "submit", :type => "submit", :value => "Submit"}/