- content_for :title do
  Our people - a small development team doing big things | pebble code
- content_for :description do
  Our expert software development team is multi-skilled, creative and ready for any challenge. .NET, C#, F#, Node.js, Ruby on Rails, JavaScript and more.
- content_for :keywords do
  people, team, skills, skilled, creative, .NET, C#, F#, Node.js, Ruby on Rails, JavaScript, project, development, expertise, personalities, ideas 

:ruby
  projects = [
    {
      :title => "project one",
      :authors => "mark, mark, & mark",
      :github => "",
      :description => "this was a project by mark. The project went really really well. Everyone involved was very happy. This application achieved world peace 12 days after launch.",
      :image => "/path/to/awesome/image.png"
    },
    {
      :title => "project two",
      :authors => "tom, dick, & harry",
      :github => "",
      :description => "this project was not by mark. This project was not very good. After this project was launched the skies darkened and there was a great drought. This was the first of many calamities that this project foreshadowed.",
      :image => "/path/to/awesome/image.png"
    }
  ]

.row.headline
  %h1.size3 The Playground
.row
  - projects.each do |p|
    %ul
      %li= p[:title]
      %li= p[:authors]
      %li= p[:github]
      %li= p[:description]
