.row
  .columns6
    %h1.size3 The key is simplicity.
%section.row
  %article.columns3.tricklr
    .frame
      .img
    %h2.size2 Tricklr
    %p 
      A web app for high volume tweeters. Put tweets in a queue and let Tricklr spread them out for you. Check it out at
      %a{:href => "http://tricklrapp.com"} tricklrapp.com
  %article.columns3.vistazo
    .frame
      .img
    %h2.size2 Vistazo
    %p 
      An ultra-simple web app for managing teams. Check it out at 
      %a{:href => "http://vistazoapp.copm"} vistazoapp.com
%hr.background-random/
%section.row.open-source
  .columns3
    %h3.size3
      were open!
      %h4.size2
        blah blah blah
  .columns3
    %p Some of the software that we have written and also happy to share. Enjoy.
    %a{:href => "http://github.com/pebblecode/"} pebble {code} @ Github