.row
  .columns6
    %h1.size3 our products
    %h1.size3 something else here
%section.row
  %article.columns3.tricklr
    .frame
      .img
    %h2.size2 Tricklr
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque viverra dictum hendrerit. Ut ac nunc eget justo blandit elementum nec sed dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  %article.columns3.vistazo
    .frame
      .img
    %h2.size2 Vistazo
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque viverra dictum hendrerit. Ut ac nunc eget justo blandit elementum nec sed dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
%hr.background-random/
%section.row.open-source
  .columns3
    %h3.size3
      were open!
      %h4.size2
        blah blah blah
  .columns3
    %p Something about our open source stuff, and how we-are awesome
    %a{:href => "http://github.com/pebblecode/"} pebble {code} @ Github