- content_for :title do
  Our products - apps to simplify tasks | pebble code
- content_for :description do
  See our Twitter automation and easy team management apps. Straightforward, effective, easy-to-use software from pebble code.
- content_for :keywords do
  Trickr, Vistazo, team, time, track, manage, Twitter, automation, open source, software, apps, simplify, tools, workload, web apo, efficient, easy

-# title = the title of the project
-# description = (short) description of the project
-# pebblers = who created the project
-# github = url of the project on github
-# livelink = link to a live demo of project (if it exsits)
-# bloglink = url of blog post relating to project (if applicatble)
-# blogtext = text for blog link (if applicatble)
-# image = an image for the project (if applicatble)

:ruby
  projects = [
    {
      :title => "Noisy URIs",
      :description => "Ready-made noise images as data URIs. Available in Sass, LESS, and vanilla CSS flavours.",
      :pebblers => "Mark",
      :github => "https://github.com/markdurrant/noisy-uris",
      :livelink => "http://markdurrant.github.com/noisy-uris/",
      :bloglink => "http://blog.pebblecode.com/post/43139609779/noisy-uris",
      :blogtext => "Noisy URIs blog post",
      :image => "/images/projects/noisy.png"
    },
    {
      :title => "Fear the IOC",
      :description => "Fear the IOC (International Olympic Committee) is a bookmarklet that censors any text or images that the IOC may find litigious.",
      :pebblers => "Mark",
      :github => "https://github.com/pebblecode/fear-the-IOC/",
      :livelink => "http://pebblecode.github.com/fear-the-IOC/",
      :bloglink => "http://blog.pebblecode.com/post/21838814065/hack-day-live",
      :blogtext => "part of the pebble olympics hackday",
      :image => "/images/projects/fear.png"
    },
    {
      :title => "Vistazo",
      :description => "Fear the IOC (International Olympic Committee) is a bookmarklet that censors any text or images that the IOC may find litigious.",
      :pebblers => "Mark",
      :github => "https://github.com/pebblecode/fear-the-IOC/",
      :livelink => "http://pebblecode.github.com/fear-the-IOC/",
      :bloglink => "http://blog.pebblecode.com/post/21838814065/hack-day-live",
      :blogtext => "part of the pebble olympics hackday",
      :image => "/images/projects/fear.png"
    }
  ]

.row
  .columns6
    %h1.size3 The pebble playground
  .columns6
    %p Projects form 10% time, hack-days, and all our other code-adventures
%hr.background-random
%section.row
  %article.columns3.tricklr
    .frame
      .img
    .product-container
      %h2.size2 Tricklr
      %p
        Stay active on Twitter without having to monitor it constantly. Put your tweets in a queue and Tricklr will send them for you at regular intervals.
        %a{:href => "http://tricklrapp.com"} Learn more about Tricklr.
  %article.columns3.vistazo
    .frame
      .img
    .product-container
      %h2.size2 Vistazo
      %p
        Track what everyone in your team is working on and when. Visualise people's workloads at a glance, without getting sucked into micromanagement. 
        %a{:href => "http://vistazoapp.com/"} Learn more about Vistazo.
%hr.background-random
%section.projects-list
  %ul
    - projects.each do |p|
      %li.project
        .frame.columns1
          %img.background-random{:src => p[:image]}
        %ul.columns5
          %li
            %h3.size2= p[:title]
            %p= p[:pebblers]
          %p= p[:description]
          %p.project-links
            %a.pink{:href => p[:github], :target => "_blank"} view on Github
            - if p[:livelink]
              %a.blue{:href => p[:livelink], :target => "_blank"} see the project here
            - if p[:bloglink]
              %a.green{:href => p[:bloglink], :target => "_blank"}= p[:blogtext]

