- content_for :title do
  Our products - apps to simplify tasks | pebble code
- content_for :description do
  See our Twitter automation and easy team management apps. Straightforward, effective, easy-to-use software from pebble code.
- content_for :keywords do
  Trickr, Vistazo, team, time, track, manage, Twitter, automation, open source, software, apps, simplify, tools, workload, web apo, efficient, easy

.row
  .columns6
    %h1.size3 Our products
  .columns6
    %p We have built these apps to make our lives easier. Try them in your business too.
%hr.background-random
%section.row
  %article.columns3.tricklr
    .frame
      .img
    %h2.size2 Tricklr
    %p
      Stay active on Twitter without having to monitor it constantly. Put your tweets in a queue and Tricklr will send them for you at regular intervals.
      %a{:href => "http://tricklrapp.com"} Learn more about Tricklr.
  %article.columns3.vistazo
    .frame
      .img
    %h2.size2 Vistazo
    %p
      Track what everyone in your team is working on and when. Visualise people's workloads at a glance, without getting sucked into micromanagement. 
      %a{:href => "http://vistazoapp.com/"} Learn more about Vistazo.
%hr.background-random
%section.row.open-source
  .columns6
    %h3.size3
      we &hearts; open source
  .columns6
    %p 
      Being active in the open source community is a big part of our business. 
      %a{:href => "http://github.com/pebblecode/"} Check us out on GitHub.