<!DOCTYPE html>
<!--
  Theme: Pebble Code  v2.0
  Author: pebblecode [http://pebblecode.com/]
  For: Tumblr  [http://tumblr.com/]
  Terms: Non-free
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Our thoughts - software development company blog | pebble code</title>

  <link rel="shortcut icon" type="image/x-icon" href="http://pebblecode.com/images/favicon.ico">
  <link rel="alternate" type="application/rss+xml" href="{RSS}">
  <meta name="description" content="News, ideas and opinions from the people at pebble code. If it’s got us thinking, we write about it here - the internet, design, business and more." />
  <meta name="keywords" content"blog, thoughts, news, ideas, opinons, people, thinking, write, internet, company, design, business, coding, development, events, London">
  <meta name="if:Show notes" content="1">
  <meta name="text:Disqus Shortname" content="" />

  <link rel="icon" type="image/x-icon" href="http://pebblecode.com/images/favicon.ico">

  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" />
  <link rel="stylesheet" title="Default" href="http://pebblecode.com/highlight/styles/default.css">
  <link rel="stylesheet" href="http://pebblecode.com/fonts/meta.css" type="text/css" />
  <!-- Styles for blog comments -->
  <link rel="stylesheet" href="http://pebblecode.com/stylesheets/disqus.css" type="text/css" />

  <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="http://pebblecode.com/javascripts/lib/modernizr-2.5.3.js" type="text/javascript"></script>
  <script src="http://pebblecode.com/javascripts/lib/underscore-min.js" type="text/javascript"></script>
  <script src="/javascripts/script.js" type="text/javascript"></script>
  <script src="http://pebblecode.com/javascripts/slides.min.jquery.js" type="text/javascript"></script>
  <script src="http://pebblecode.com/highlight/highlight.pack.js" type="text/javascript"></script>
  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
  </script>

  <script type="text/javascript">
    var $buoop = {vs:{i:6,f:3.5,o:10.6,s:3.2,n:9}}
    $buoop.ol = window.onload;
    window.onload=function(){
     try {if ($buoop.ol) $buoop.ol();}catch (e) {}
     var e = document.createElement("script");
     e.setAttribute("type", "text/javascript");
     e.setAttribute("src", "http://browser-update.org/update.js");
     document.body.appendChild(e);
    }
  </script>
</head>
<body class="page-thoughts">

  <header class="background-random">
    <nav>
      <a class="logo" href="http://pebblecode.com/">pebble{code}</a>

      <ul>
        <li><span>{</span><a href = "http://pebblecode.com/people">our people</a><span>}</span></li>
        <li><span>{</span><a href = "http://pebblecode.com/work">our work</a><span>}</span></li>
        <li><span>{</span><a href = "http://pebblecode.com/products">our products</a><span>}</span></li>
        <li class="nav-active"><span>{</span><a href = "http://pebblecode.com/thoughts">our thoughts</a><span>}</span></li>
      </ul>
    </nav>
  </header>

  <div id="wrap">
    <div class="row">
      <div class="columns6"  id="thoughts-heading">
        <h1 class="size3">our thoughts</h1>
        <h2 class="size2">design, code, business, &amp; everything in-between</h2>
      </div>
    </div>

    <hr class="background-random"/>

    <section class="row blog-post">
      <article class="columns4 blog-content">
        <h2 class="heading columns6 size2">Budget 2012 and us</h2>
        <p>Let’s frame where we are coming from - pebble {code} is a software company with (much) less than £50M turnover and less than £300K profit…</p>
        <p>What does this mean for us?</p>
        <p>Well, for now, Corporation Tax will remain at 20% - fine. However, if you are a business with greater than £300K profit, you are down to 24%, from 26% - good.</p>
<pre><code>task "campfire:stats" => :environment do
  campfire = "Something"
  room = campfire.find_room_by_id([YOUR_ROOM_ID])
  # Get the data you want with ActiveRecord
  users = User.count
  room.speak "OHAI! Stats from YOUR APP"
end
</code></pre>
        <p>There is good news for us software developers if we have patents - Patent Box says that profits made from patents will only be charged at 10% Corporation Tax - good.</p>
<pre><code>task "campfire:stats" => :environment do
  campfire = Tinder::Campfire.new '[YOUR_ACCOUNT_NAME]', :token => '[YOUR_TOKEN]'
  room = campfire.find_room_by_id([YOUR_ROOM_ID])
  # Get the data you want with ActiveRecord
  users = User.count
  room.speak "OHAI! Stats from YOUR APP"
  room.paste "Users: #{users}"
  room.paste "Users: #{users}"room.paste "Users: #{users}"room.paste "Users: #{users}"room.paste "Users: #{users}"
end
</code></pre>
        <p>No reduction in business rates - bad. Instead they will go ahead with a rise to 5.6% - grr. There is also no reduction on fuel tax - not a biggy for us, but still - bad.</p>
        <a href="http://">Continue reading...</a>
      </article>
      <aside class="columns2 blog-sidebar">
        <h3 class="size2 author">thatsinthebook</h3>
        <p class="size0">24rd March</p>
        <p class="size0">2012</p>
        <ul class="tags">
          <li><a href="http://">small buisness</a></li>
          <li><a href="http://">budget</a></li>
          <li><a href="http://">startup</a></li>
        </ul>
        <div class="comments"><a class="dsq-comment-count" href="{Permalink}#disqus_thread">23</a></div>
      </aside>
    </section>

    <section class="row blog-post">
      <article class="columns4 blog-content">
        <h2 class="heading columns6 size2">Will it blend?</h2>
        <p>Yes!</p>
        <ol>
          <li>one two three</li>
          <li>four 5 six</li>
          <li>ok finish</li>
        </ol>
        <p>Recently I’ve been experimenting with Illustrator’s blend tool. After a little trial and error I’ve developed a few tricks for producing interesting gradient-based effects with the specified steps setting. Now that I’m pretty comfortable with the techniques I’ve developed I thought it was time to share.</p>
        <ul>
          <li>one two three</li>
          <li>four 5 six</li>
          <li>ok finish</li>
        </ul>
        <p>Start by drawing two parallel lines. It doesn’t mater how you style these lines. Just make sure that the lines are parallel and (for now) they have the same style.</p>
        <div class="frame">
          <div class="img"></div>
        </div>
        <a href="http://">Continue reading...</a>
      </article>
      <aside class="columns2 blog-sidebar">
        <h3 class="size2 author">markdurrant</h3>
        <p class="size0">12th april</p>
        <p class="size0">2012</p>
        <ul class="tags">
          <li><a href="http://">design</a></li>
          <li><a href="http://">illustrator</a></li>
          <li><a href="http://">blending</a></li>
        </ul>
        <span class="comments"><a class="dsq-comment-count" href="{Permalink}#disqus_thread">23</a></span>
      </aside>
    </section>

    <ul id="blog-navigation">
      <li class="prev">
        <a href="/page/">« Newer</a>
      </li>
      <li class="next">
        <a href="/page/">Older »</a>
      </li>
    </ul>

    <div id="wrap-footer"></div>
  </div>

  <footer>
    <div>
      <ul id="contact">
        <li class="size0">T: <a href="tel:020 3327 1081">020 3327 1081</a></li>
        <li class="size0">E: <a href="mailto:info@pebblecode.com">info@pebblecode.com</a></li>
      </ul>
      <ul id="social">
        <li><a href="http://www.facebook.com/pebblecode" id="facebook">facebook</a></li>
        <li><a href="http://twitter.com/#!/pebblecode" id="twitter">twitter</a></li>
        <li><a href="https://plus.google.com/113628709817662471448/posts" id="google-plus">G+</a></li>
      </ul>
    </div>
  </footer>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26218261-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>