%section.row
  .columns3
    %h1.size3 our work
    %h1.size3 more big type
  .columns3
    %p A little explination of how we do things. Consectetur adipiscing elit. Quisque viverra dictum hendrerit. Ut ac nunc eget justo blandit elementum nec sed dolor.
%section.case-study
  %hr
    .row
      .columns3.frame
        .img
      .columns3
        %h2.size3 Big headers
        %h3.size2 Big images
        %p not so much of the wordy stuff: Consectetur adipiscing elit. Quisque viverra dictum hendrerit. Ut ac nunc eget justo blandit elementum nec sed dolor.
%section.case-study
  %hr
    .row
      .columns2
        %h2.size3 -BOOM-
        %h3.size2 Big images
        %p not so much of the wordy stuff: Consectetur adipiscing elit. Quisque viverra dictum hendrerit.
      .columns2.frame
        .img
      .columns2.frame
        .img
%section.case-study
  %hr
    .row
      .columns3.frame
        .img
      .columns3
        %h2.size3 Big headers
        %h3.size2 Big images
        %p not so much of the wordy stuff: Consectetur adipiscing elit. Quisque viverra dictum hendrerit. Ut ac nunc eget justo blandit elementum nec sed dolor.