%section.row
  .columns3
    %h1.size2 Better Software for Your Business.
  .columns3
    %p Over the years we have honed our knowledge and understanding of: Finance, Investment, Gambling, Production & Broadcasting.
%section.case-study
  %hr
    .row
      .columns3.frame
        .img
      .columns3
        %h2.size3 Gaming
        %p Built a gaming platform for financial processing and integration with third party online gaming engines. Built an HTML5 bingo game and HTML5 based chat server, integrated into this platform.
%section.case-study
  %hr
    .row
      .columns2
        %h2.size3 Finance
        %p Designed and implemented the core pricing engine used by an investment firm.  Covers fund pricing, compliance and investment workflow from advice through to issuing trade instructions.
      .columns2.frame
        .img
      .columns2.frame
        .img
%section.case-study
  %hr
    .row
      .columns3.frame
        .img
      .columns3
        %h2.size3 Web & Mobile
        %p Worked with logistics, production, broadcasting and more to create useable, reliable and scalable applications that run businesses. 