h2
  | Some of our work
ul.home-work
  li
    h3#ldntaxi LDNTaxiApp
    p.summary
      <span>2,000</span> Taxis Hailed
    p Addapps, London.
    p <a href="http://www.ldntaxiapp.com/">LDNTaxiApp</a> is a mobile application (currently iOS &amp; Android) that allows you to hail a Black Cab from your mobile. The taxi drivers nearest you get a notification and have the chance to accept the job. 
    p pebble worked closely with Addapps to build a stable backend, APIs and management portal.
  li
    h3#woohoo WooHooBingo
    p.summary
      <span>20,000</span> Games of Bingo Played
    p Intellectual Property &amp; Software, Jersey.
    p <a href="http://www.woohoobingo.com/">Woohoo Bingo</a> is now the internet’s largest free to play online bingo community, supporting hundreds of concurrent bingo players every day.
    p Created by building a custom Microsoft .NET multi-threaded gaming engine and integration of a flash client developed using open source tools.
  li
    h3#aljazeera Film Workflow App
    p.summary
      <span>7,000</span> Films Scheduled
    p <a href="http://english.aljazeera.net">Al Jazeera English</a>, London.
    p Al Jazeera English commissioned pebble back in 2007 to build a film workflow management & scheduling system. The system manages the film workflow from commission or acquisition to episode-ready and schedule. It also has advanced reporting.
  li
    h3#takefive Castings App
    p.summary
      <span>15,000</span> Actors Cast
    p <a href="http://www.takefivestudio.com/">Take Five Studio</a>, London.
    p Take Five’s Casting & Showreel App allows then to efficiently manage castings as they happen and subsequently demonstrate those castings to their clients. The app also manages actors’ showreels.
  li
    h3#space Rent Management App
    p.summary
      <span>500</span> Managed Studios
    p <a href="http://www.spacestudios.org.uk/">SPACE Studios</a>, London
    p SPACE Studios’ RAP (Rent & People) app replaced their old Rent Management system and FileMaker contact database to allow SPACE to manage approx. 30 buildings with over 500 studios across London.
  li
    h3#ideapi ideapi.com
    p.summary
      <span>1,000</span> Ideas Shared
    p <a href="http://ideapi.com/">Ideapi</a>, London
    p Ideapi is an interactive way to generate ideas – it is an online tool designed to provide agencies, clients and their communications partners with an controlled collaborative environment that focuses people on getting to better briefs and subsequent ideas, faster.
  li
    h3#stink iStink
    p.summary
      <span>300</span> Projects, <span>150</span> Users
    p <a href="http://www.stink.tv/">Stink TV</a>, London
    p iStink manages all of Stink’s contacts, projects, assets and deals. It really does run a large part of their administrative requirements.
  li
    h3#downunder DownunderTradies
    p.summary
      <span>10,000</span> Training Courses Sold
    p <a href="http://www.downundertradies.com/">Downunder Tradies Group</a>, London
    p The DownUnderTradies site offers bespoke training and reqruitment services to individuals wanting to work in the consruction industry. 
