- content_for :title do
  User-focused software development - our work | pebble code
- content_for :description do
  Learn about software and web apps we've designed and created, and see which areas of software development we specialise in.
- content_for :keywords do
  work, design, development, gaming, games, platform, finance, investment, HTML5, .NET, user experience, agile, web app, client, devices, pebble code 

%section.row
  .machine.conatiner
    .machine-main.conatiner.colors
      .img
    .belt.conatiner
      .img
    %ul.icons.clear-fix
    .finance
      %h1.size3.pink &pound;4bn managed, instant insights.
      .copy.clear-fix
        .main-copy
          %p By rapidly drawing data from multiple sources, we built an app that performs the complex calculations necessary to provide real-time fund valuations. The app aids decision making by analysing weighted information from investment advisors. It also provides peace of mind by making key compliance checks.
        .the-tech
          %ul
            %li Ruby
            %li .NET
            %li Javascript
            %li HTML
            %li CSS
      %a{:href => '#', :class => "copy-btn"} the tech
