%section.row
  .columns6
    %h1.size3 Simple software that solves difficult problems
  .columns6
    %p
      Effortless user experiences. Complex back-end functions. Learn about areas we specialize in and see how our expertise helps us create elegant, powerful software.
%section.case-study
  %hr
    .row
      .columns3.frame
        .img
      .columns3
        %h2.size3 Gaming
        %p
          We created a fully-featured gaming platform which integrates with third-party games and connects to secure payment services - all while handling interactions between thousands of simultaneous players.
        %p
          We're continuing the development work with our client - and because the front-end is built entirely in HTML5, we can easily extend it to new platforms and devices.
%section.case-study
  %hr
    .row
      .columns2
        %h2.size3 Finance
        %p
          We built a groundbreaking app for an investment fund client, using our .NET expertise and an agile approach to succeed in an area dominated by costly financial consultancies.
        %p
          The app provides real-time fund values by performing complex calculations on data from many sources. It aids decision making by analysing weighted information from advisors, while also performing key compliance checks.
      .columns2.frame
        .img
      .columns2.frame
        .img
%section.case-study
  %hr
    .row
      .columns3.frame
        .img
      .columns3
        %h2.size3 Clarity from complexity
        %p
          Our clients operate in many industries. They choose us because we're experts at developing beautiful software which functions across different platforms and devices.
        %p
          We'll work with you to build web apps which help you simplify tasks, solve problems or take advantage of new opportunities.
%hr.background-random
%section.row
  .colunms6.work-contact
    %p Contact us to learn more.
    %a{:href => "mailto:hello@pebblecode.com"} hello@pebblecode.com
    %p &#124;
    %a{:href => "tel:+44 20 3327 3940"} +44 20 3327 3940