- content_for :title do
  User-focused software development - our work | pebble code
- content_for :description do
  Learn about software and web apps we've designed and created, and see which areas of software development we specialise in.
- content_for :keywords do
  work, design, development, gaming, games, platform, finance, investment, HTML5, .NET, user experience, agile, web app, client, devices, pebble code

%section.row
  .columns6
    %h1.size3 Our Work
  .columns6
    %h2.size2
      Effortless user experiences. Complex back-end functions. Learn about areas we specialize in and see how our expertise helps us create elegant, powerful software.
%hr.background-random
%section.case-study
  .row
    .columns6.frame
      .img.gaming
        %h2.size3 Gaming
    .columns3
      %p
        We created a fully-featured gaming platform which integrates with third-party games and connects to secure payment services - all while handling interactions between thousands of simultaneous players.
    .columns3
      %p
        We're continuing the development work with our client - and because the front-end is built entirely in HTML5, we can easily extend it to new platforms and devices.
%section.case-study
  .row
    .columns6.frame
      .img.finace
        %h2.size3 Finance
    .columns3
      %p
        We built a groundbreaking app for an investment fund client, using our .NET expertise and an agile approach to succeed in an area dominated by costly financial consultancies.
    .columns3
      %p
        The app provides real-time fund valuations by performing complex calculations on data from multiple sources. It aids decision making by analysing weighted information from investment advisors, while also performing key compliance checks.
%section.case-study
  .row
    .columns6.frame
      .img.clarity
        %h2.size3 Clarity from complexity
    .columns3
      %p
        Our clients operate in many industries. They choose us because we're experts at developing beautiful software which functions across different platforms and devices.
    .columns3
      %p
        We'll work with you to build applications which help you simplify tasks, solve problems or take advantage of new opportunities.
%hr.background-random
%section.row
  .colunms6.work-contact
    %p To learn more about how we can help your business, get in touch on <a href="tel:+442033273940">+44 (0) 20 3327 3940</a> or say <a href="mailto:hello@pebblecode.com">hello@pebblecode.com</a>.
%hr.background-random
.pebble-it
  .columns6
    %p The pebble {code} philosophy and approach (as well as our offices) are shared by our sister company <a href="http://pebbleit.com/" target="_blank">pebble.it</a> who provide IT consultancy, infrastructure solutions and support for creative business in London.
    %p Need some support? Get in touch with Paul on <a href="tel:+442033271081">+44 (0) 20 3327 1081</a> or <a href="mailto:hello@pebbleit.com">hello@pebbleit.com</a>.
