%section.row
  .columns3
    %h1.size3 our work
    %h1.size3 more big type
  .columns3
    %p Better Software for Your Business
    %p Many years experience writing software for Hedge Funds, Banks, Gambling companies, TV Productions houses and Broadcasting. 
%section.case-study
  %hr
    .row
      .columns3.frame
        .img
      .columns3
        %h2.size3 BINGO
        %h3.size2 Big images
        %p not so much of the wordy stuff: Consectetur adipiscing elit. Quisque viverra dictum hendrerit. Ut ac nunc eget justo blandit elementum nec sed dolor.
%section.case-study
  %hr
    .row
      .columns2
        %h2.size3 LDN Taxi
        %h3.size2 Big images
        %p not so much of the wordy stuff: Consectetur adipiscing elit. Quisque viverra dictum hendrerit.
      .columns2.frame
        .img
      .columns2.frame
        .img
%section.case-study
  %hr
    .row
      .columns3.frame
        .img
      .columns3
        %h2.size3 Witness Online
        %h3.size2 Big images
        %p not so much of the wordy stuff: Consectetur adipiscing elit. Quisque viverra dictum hendrerit. Ut ac nunc eget justo blandit elementum nec sed dolor.