%section.row
  .columns6
    %h1.size3 Simple software that solves complex problems
  .columns6
    %p We build apps that make light work of difficult tasks. Learn about areas we specialise in and see how our expertise helps us create elegant, powerful solutions.
%section.case-study
  %hr
    .row
      .columns3.frame
        .img
      .columns3
        %h2.size3 Gaming
        %p We created a fully-featured gaming platform which integrates with third-party games and connects to secure payment services - all while handling moves and interactions between thousands of simultaneous players.

        %p We continue to develop the platform for our client - and because the front-end is built entirely in HTML5, it works flawlessly across mobile and desktop browsers and devices.
%section.case-study
  %hr
    .row
      .columns2
        %h2.size3 Finance
        %p We built a groundbreaking app for an investment fund client, using our .net expertise and a functional approach to succeed in an area dominated by pricey financial consultancies.

        %p The app provides real-time fund values by performing complex calculations on data from many sources. It also aids decision making by analysing weighted information from advisors, while performing key compliance checks at the same time.
      .columns2.frame
        .img
      .columns2.frame
        .img
%section.case-study
  %hr
    .row
      .columns3.frame
        .img
      .columns3
        %h2.size3 Clarity from complexity
        %p Our clients operate in many industries. They work with us because we're experts at developing beautiful apps which function flawlessly across different platforms and devices.

        %p Whether it's a business problem or a business opportunity, we focus on understanding the challenge you need us to meet. We'll then use our technical expertise and design skills to create a solution that works for your business.