h1
  | Our work

ul.work-intro
  li.work-first  
    h3 Fantastic clients and some truly amazing software
    p We have had the opportunity to work on a wide range of projects including the backend to an online casino, a hedge fund pricing & portfolio management system and a casting & showreel management system. See below for more information.
  li.v-space
  
  li.work-second  
    h3 Charitable projects
    p We’re delighted to have worked with charitable projects including the Green League iPhone app for People & Planet and the Face Britain iPhone app (not yet launched, but coming soon). 
  li.v-space
  
  li.work-third
    h3 Tricklr 
    p Just launched is our useful new web app <a href="http://tricklrapp.com">Tricklr.</a> Tricklr allows you to prepare your tweets in advance and schedule them for release through the day. Simple to use and perfect for high volume tweeters or marketing teams.
     
hr

ul.work-listing
  li#ldntaxi.ldntaxi.odd
    h2 <span>LDNTaxiApp</span>
    p.summary
      <span>2,000</span> Taxis Hailed
    p Addapps, London.
    p <a href="http://www.ldntaxiapp.com/">LDNTaxiApp</a> s a mobile application (currently iOS & Android) that letsyou hail a black cab from your mobile. The nearest taxi drivers receive a notification and if they’re free, take the job. pebble worked closely with Addapps to build a stable backend, API and management portal.
    p pebble worked closely with Addapps to build a stable backend, API and management portal.
    
    ul.images
      li
        a(href="/images/work/ldntaxi/ldntaxi_1.jpg", rel="ldntaxi", title="LDNTaxi")
          |Click here to view images for this project
      li
        a(href="/images/work/ldntaxi/ldntaxi_2.jpg", rel="ldntaxi", title="LDNTaxi")
              
  li#woohoo.woohoo.even
    h2 <span>WooHooBingo</span>
    p.summary
      <span>20,000</span> Games of Bingo Played
    p Intellectual Property &amp; Software, Jersey.
    p <a href="http://www.woohoobingo.com/">Woohoo Bingo</a> is the internet’s largest free to play online bingo community, supporting hundreds of concurrent bingo players every day. 
    p pebble built a custom Microsoft .NET multi-threaded gaming engine and integration of a flash client developed using open source tools.    
   
    ul.images
      li
        a(href="/images/work/woohoo/woohoo_1.jpg", rel="woohoo", title="Woohoo")
          |Click here to view images for this project
      li
        a(href="/images/work/woohoo/woohoo_2.jpg", rel="woohoo", title="Woohoo")
      li
        a(href="/images/work/woohoo/woohoo_3.jpg", rel="woohoo", title="Woohoo")
    
  li#aljazeera.aljazeera.odd
    h2 <span>Film Workflow App</span>
    p.summary
      <span>7,000</span> Films Scheduled
    p <a href="http://english.aljazeera.net">Al Jazeera English</a>, London.
    p Al Jazeera English commissioned pebble to build a film workflow management & scheduling system. We created a system that manages the film workflow from commission or acquisition to episode-ready and scheduleing. It also includes advanced reporting.
    
    ul.images
      li
        a(href="/images/work/aljazeera/aljazeera_1.jpg", rel="aljazeera", title="Aljazeera")
          |Click here to view images for this project
      li
        a(href="/images/work/aljazeera/aljazeera_2.jpg", rel="aljazeera", title="Aljazeera")
    
  li#takefive.takefive.even
    h2 <span>Castings App</span>
    p.summary
      <span>15,000</span> Actors Cast
    p <a href="http://www.takefivestudio.com/">Take Five Studio</a>, London.
    p Take Five’s Casting & Showreel App allows efficient management of castings as they happen and subsequently lets casting directors demonstrate those castings to their clients. The app also manages actors’ showreels.    
    
    ul.images
      li
        a(href="/images/work/takefive/takefive_1b.jpg", rel="takefive", title="Take Five")
          |Click here to view images for this project
      li
        a(href="/images/work/takefive/takefive_2b.jpg", rel="takefive", title="Take Five")
      li
        a(href="/images/work/takefive/takefive_3.jpg", rel="takefive", title="Take Five")
          
  li#space.space.odd
    h2 <span>Rent Management App</span>
    p.summary
      <span>500</span> Managed Studios
    p <a href="http://www.spacestudios.org.uk/">SPACE Studios</a>, London
    p SPACE Studios’ RAP (Rent & People) app replaced their old Rent Management system and FileMaker contact database to allow SPACE to manage approx. 30 buildings with over 500 studios across London.
    
    ul.images
      li
        a(href="/images/work/space/space_1.jpg", rel="space", title="Space")
          |Click here to view images for this project
      li
        a(href="/images/work/space/space_2.jpg", rel="space", title="Space")
      li
        a(href="/images/work/space/space_3.jpg", rel="space", title="Space")
              
  li#ideapi.ideapi.even
    h2 <span>ideapi.com</span>
    p.summary
      <span>1,000</span> Ideas Shared
    p <a href="http://ideapi.com/">Ideapi</a>, London
    p Ideapi is an interactive way to generate ideas – an online tool designed to provide agencies, clients and their communications partners with a controlled collaborative environment that focuses people on getting to better briefs and subsequent ideas, faster.
    
    ul.images
      li
        a(href="/images/work/ideapi/ideapi_1.jpg", rel="ideapi", title="Ideapi")
          |Click here to view images for this project
      li
        a(href="/images/work/ideapi/ideapi_2.jpg", rel="ideapi", title="Ideapi")
          
  li#stink.stink.odd
    h2 <span>iStink</span>
    p.summary
      <span>300</span> Projects, <span>150</span> Users
    p <a href="http://www.stink.tv/">Stink TV</a>, London
    p iStink manages all of Stink’s contacts, projects, assets and deals. It runs a very large part of their administrative requirements.
    
    ul.images
      li
        a(href="/images/work/stink/stink_1.jpg", rel="stink", title="Stink")
          |Click here to view images for this project
      li
        a(href="/images/work/stink/stink_2.jpg", rel="stink", title="Stink")
  
  li#downunder.downunder.even
    h2 <span>DownunderTradies</span>
    p.summary
      <span>10,000</span> Training Courses Sold
    p <a href="http://www.downundertradies.com/">Downunder Tradies Group</a>, London
    p The Down Under Tradies site offers bespoke training and recruitment services to individuals wanting to work in the construction industry.

    ul.images
      li
        a(href="/images/work/downunder/downunder_1.jpg", rel="downunder", title="Downunder Tradies")
          |Click here to view images for this project
      li
        a(href="/images/work/downunder/downunder_2.jpg", rel="downunder", title="Downunder Tradies")
          