h2
  | Some of our work
ul.home-work
  li
    h3#ldntaxi LDNTaxiApp
    p.summary
      <span>2,000</span> Taxis Hailed
    p Addapps, London.
    p LDNTaxiApp is a mobile application (currently iOS &amp; Android) that allows you to hail a Black Cab from your mobile. The taxi drivers nearest you get a notification and have the chance to accept the job. 
    p pebble work closely with Addapps to build a stable backend, APIs and management portal for the app built with Ruby on Rails. 
    p Add a client quote in here. 
  li
    h3#woohoo WooHooBingo
    p.summary
      <span>20,000</span> Games of Bingo Played
    p Intellectual Property &amp; Software, Jersey.
    p Woohoo Bingo is now the internet’s largest free to play online bingo community, supporting hundreds of concurrent bingo players every day.
    p Created by building a custom Microsoft .NET multi-threaded gaming engine and integration of a flash client developed using open source tools.
  li
    h3#aljazeera Film Workflow &amp; Sceduling App
    p.summary
      <span>7,000</span> Films Workflowed &amp; Scheduled
    p Al Jazeera English, London.
    p Al Jazeera English commissioned pebble back in 2007 to build a film workflow management & scheduling system. The system manages the film workflow from commission or acquisition to episode-ready and schedule. It also has advanced reporting.
    p The application was built using Ruby on Rails. 
  li
    h3#takefive Casting &amp; Showreels App
    p.summary
      <span>15,000</span> Actors Cast
    p Take Five Studio, London.
    p Take Five’s Casting & Showreel App allows then to efficiently manage castings as they happen and subsequently demonstrate those castings to their clients. The app also manages actors’ showreels.
    p The applicaitons was built using Ruby on Rails. 
  li
    h3#space Space Studios
    p.summary
      <span>500</span> Rent Managed Studios
    p SPACE Studios
    p SPACE Studios’ RAP (Rent & People) app replaced their old Rent Management system and FileMaker contact database to allow SPACE to manage approx. 30 buildings with over 500 studios across London.
    p The applicaitons was built using Ruby on Rails. 
  li
    h3#ideapi ideapi.com
    p.summary
      <span>1,000</span> Ideapi Captured &amp; Shared
    p Ideapi, London
    p Ideapi is an interactive way to generate ideas – it is an online tool designed to provide agencies, clients and their communications partners with an controlled collaborative environment that focuses people on getting to better briefs and subsequent ideas, faster.
    p The applicaitons was built using Ruby on Rails. 
  li
    h3#stink iStink
    p.summary
      <span>300</span> Project, <span>5,000</span> Assets, <span>150</span> Users
    p Stink TV, London
    p iStink manages all of Stink’s contacts, projects, assets and deals. It really does run a large part of their administrative requirements.
    p The applicaitons was built using Ruby on Rails. 


