h2
  | Some of our projects
ul.home-work
  li
    h3#ldntaxi LDNTaxiApp
    p.summary
      <span>2,000</span> Taxis hailed
    p Lorem ipsum dolor sit amet, sed neque tempus donec, nec suspendisse eu donec, semper vulputate elementum nec mi accumsan, nec etiam sed, vel gravida. 
    p Lorem ipsum dolor sit amet, sed neque tempus donec, nec suspendisse eu donec, semper vulputate elementum.
  li
    h3#woohoo WooHooBingo
    p.summary
      <span>20,000</span> Games of Bingo Played
    p Lorem ipsum dolor sit amet, sed neque tempus donec, nec suspendisse eu donec, semper vulputate elementum nec mi accumsan, nec etiam sed, vel gravida. 
    p Lorem ipsum dolor sit amet, sed neque tempus donec, nec suspendisse eu donec, semper vulputate elementum.
  li
    h3#aljazeera Al Jazeera 
    p.summary
      <span>30,000</span> New Stories Covered
    p Lorem ipsum dolor sit amet, sed neque tempus donec, nec suspendisse eu donec, semper vulputate elementum nec mi accumsan, nec etiam sed, vel gravida. 
    p Lorem ipsum dolor sit amet, sed neque tempus donec, nec suspendisse eu donec, semper vulputate elementum.
  li
    h3#takefive Take Five Studios
    p.summary
      <span>15,000</span> Actors Cast
    p Lorem ipsum dolor sit amet, sed neque tempus donec, nec suspendisse eu donec, semper vulputate elementum nec mi accumsan, nec etiam sed, vel gravida. 
    p Lorem ipsum dolor sit amet, sed neque tempus donec, nec suspendisse eu donec, semper vulputate elementum.
  li
    h3#ideapi Space Studios
    p.summary
      <span>30,000</span> New Stories Covered
    p Lorem ipsum dolor sit amet, sed neque tempus donec, nec suspendisse eu donec, semper vulputate elementum nec mi accumsan, nec etiam sed, vel gravida. 
    p Lorem ipsum dolor sit amet, sed neque tempus donec, nec suspendisse eu donec, semper vulputate elementum.
  li
    h3#stink Stink Television
    p.summary
      <span>30,000</span> New Stories Covered
    p Lorem ipsum dolor sit amet, sed neque tempus donec, nec suspendisse eu donec, semper vulputate elementum nec mi accumsan, nec etiam sed, vel gravida. 
    p Lorem ipsum dolor sit amet, sed neque tempus donec, nec suspendisse eu donec, semper vulputate elementum.


