h1
  | Some of our work

ul.work-listing
  li#ldntaxi.ldntaxi.odd
    h2 <span>LDNTaxiApp</span>
    p.summary
      <span>2,000</span> Taxis Hailed
    p Addapps, London.
    p <a href="http://www.ldntaxiapp.com/">LDNTaxiApp</a> is a mobile application (currently iOS &amp; Android) that allows you to hail a Black Cab from your mobile. The taxi drivers nearest you get a notification and have the chance to accept the job. 
    p pebble worked closely with Addapps to build a stable backend, APIs and management portal.
    
  li#woohoo.woohoo.even
    h2 <span>WooHooBingo</span>
    p.summary
      <span>20,000</span> Games of Bingo Played
    p Intellectual Property &amp; Software, Jersey.
    p <a href="http://www.woohoobingo.com/">Woohoo Bingo</a> is now the internet’s largest free to play online bingo community, supporting hundreds of concurrent bingo players every day.
    p Created by building a custom Microsoft .NET multi-threaded gaming engine and integration of a flash client developed using open source tools.
    
  li#aljazeera.aljazeera.odd
    h2 <span>Film Workflow App</span>
    p.summary
      <span>7,000</span> Films Scheduled
    p <a href="http://english.aljazeera.net">Al Jazeera English</a>, London.
    p Al Jazeera English commissioned pebble back in 2007 to build a film workflow management &amp; scheduling system. The system manages the film workflow from commission or acquisition to episode-ready and schedule. It also has advanced reporting.
    
  li#takefive.takefive.even
    h2 <span>Castings App</span>
    p.summary
      <span>15,000</span> Actors Cast
    p <a href="http://www.takefivestudio.com/">Take Five Studio</a>, London.
    p Take Five’s Casting &amp; Showreel App allows then to efficiently manage castings as they happen and subsequently demonstrate those castings to their clients. The app also manages actors’ showreels.
    
  li#space.space.odd
    h2 <span>Rent Management App</span>
    p.summary
      <span>500</span> Managed Studios
    p <a href="http://www.spacestudios.org.uk/">SPACE Studios</a>, London
    p SPACE Studios’ RAP (Rent &amp; People) app replaced their old Rent Management system and FileMaker contact database to allow SPACE to manage approx. 30 buildings with over 500 studios across London.
    
  li#ideapi.ideapi.even
    h2 <span>ideapi.com</span>
    p.summary
      <span>1,000</span> Ideas Shared
    p <a href="http://ideapi.com/">Ideapi</a>, London
    p Ideapi is an interactive way to generate ideas – it is an online tool designed to provide agencies, clients and their communications partners with an controlled collaborative environment that focuses people on getting to better briefs and subsequent ideas, faster.
    
  li#stink.stink.odd
    h2 <span>iStink</span>
    p.summary
      <span>300</span> Projects, <span>150</span> Users
    p <a href="http://www.stink.tv/">Stink TV</a>, London
    p iStink manages all of Stink’s contacts, projects, assets and deals. It really does run a large part of their administrative requirements.
    
  li#downunder.downunder.even
    h2 <span>DownunderTradies</span>
    p.summary
      <span>10,000</span> Training Courses Sold
    p <a href="http://www.downundertradies.com/">Downunder Tradies Group</a>, London
    p The DownUnderTradies site offers bespoke training and reqruitment services to individuals wanting to work in the consruction industry. 
