- content_for :title do
  User-focused software development - our work | pebble code
- content_for :description do
  Learn about software and web apps we've designed and created, and see which areas of software development we specialise in.
- content_for :keywords do
  work, design, development, gaming, games, platform, finance, investment, HTML5, .NET, user experience, agile, web app, client, devices, pebble code 

#work-wrap
  .work-container.finance
    .extra
      %h1.size2 Extra text heading
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .main
      %h1.size2 &pound;4bn managed, instant insights.
      %p By rapidly drawing data from multiple sources, we built an app that performs the complex calculations necessary to provide real-time fund valuations. The app aids decision making by analysing weighted information from investment advisors. It also provides peace of mind by making key compliance checks.
    .tech
      %h1.size2 Tech heading
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  .work-container.games
    .extra
      %h1.size2 Extra text heading
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .main
      %h1.size2 Thousands of concurrent online games.
      %p Thousands of concurrent players, snappy instantaneous play, hundreds of different games. We built the most innovative gaming platform out there. Rock solid, simple to integrate, and endlessly extensible, we've brought online gaming excellence to our delighted users.
    .tech
      %h1.size2 Tech heading
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  .work-container.ads
    .extra
      %h1.size2 Extra text heading
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .main
      %h1.size2 The entire backbone of an advertising company.
      %p Running a modern ad agency means keeping track of a huge amount of information. Multiple projects, hundreds of collaborating companies, a vast array of contacts, all of whom need co-ordinating. Our app brought all of this information together to create a simple yet powerful system that is the backbone of an ad agency. It brings the right agency, crew, location, script and performers together to create the perfect ad for the agency's clients.
    .tech
      %h1.size2 Tech heading
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  #wrap-footer