//===============================================================================
// CAREERS
//===============================================================================
.careers-container {
  margin-top: 10px;
  margin-bottom: $gutter;

  .rt-offer {
    margin: $gutter 0;
    padding: $gutter 0 30px;
    position: relative;

    @media screen and ( max-width: $medium ) {
      padding: 10px 0 $gutter;
    }

    &:last-child {
      margin-bottom: 10px;

      &:after {
        display: none;
      }
    }

    &:after {
      content: "";
      height: 6px;
      width: 150px;
      background-color: lighten($ink, 50);
      position: absolute;
      bottom: 0;
      left: 0;
    }

    h3 {
      font-size: $alpha - 4px;
      color: $primary;
      margin-bottom: 10px;
      transition: 0.2s;
      line-height: 1;

      @media screen and ( max-width: $medium ) {
        font-size: $beta;
        margin-bottom: 5px;
      }

      @media screen and ( max-width: $small ) {
        font-size: $beta - 4px;
      }

      &:hover {
        color: lighten($primary, 8);
      }
    }

    p {
      font-size: $delta;
      line-height: 1;
      margin-bottom: 15px;
    }
  }
}

.rt-modal {
  .rt-brand-color {
    color: $primary;
  }

  .rt-dialog {
    border-radius: 0;
    padding: 60px 30px 50px;
    box-shadow: 0 0 20px rgba(black, 0.2);

    @media screen and ( max-width: $medium ) {
      padding: 50px $gutter; 
    }
  }

  .rt-close-button {
    position: absolute;
    right: -15px;
    top: -15px;
    height: 49px;
    width: 49px;
    border-radius: 50%;
    background: lighten($ink, 50);
    box-shadow: 0 4px 0 rgba(black, 0.1);
    transition: 0.2s;

    &:after {
      @include icon-pseudo;
      @extend .i-close-grey;
      top: 17px;
      left: 17px;
    }

    &:hover {
      background: lighten($ink, 48);
      transform: scale(1.1);
    }
  }

  .rt-title {
    font-size: $alpha;
    line-height: 1;

    @media screen and ( max-width: $medium ) {
      font-size: $alpha - 8px;
    }
  }

  .rt-subtitle {
    font-size: $gamma;
    position: relative;
    padding-bottom: 10px;

    @media screen and ( max-width: $medium ) {
      font-size: $delta;
    }
  }

  .rt-offer-heading {
    position: relative;
    margin-top: $gutter;
    padding-top: 40px;

    &:after {
      content: "";
      height: 6px;
      width: 150px;
      background-color: lighten($ink, 45);
      position: absolute;
      top: 0;
      left: 0;
    }
  } 

  .rt-body {
    h3 {
      color: $ink;
    }

    p {
      line-height: 1.4;
      margin-bottom: 18px;
    }
  }

  .rt-footer {
    @include clearfix;
    position: relative;

    .rt-btn {
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-block;
      margin: $gutter auto 0;
      display: table;
    }

    .rt-btn-link {
      display: none;
    }
  }
}