//===============================================================================
// PAGE BASE
//===============================================================================
// Hero Section
.hero-container {
  padding: 150px 0 90px;
  background-color: $primary;
  position: relative;
  overflow: hidden;

  @media screen and ( max-width: $medium ) {
    padding: 40px 0 60px
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 20px;
    display: block;
    width: 100%;
    height: 20px;
    background-color: rgba(black, 0.15);
    transform: rotate(2.1deg) scale(1.2);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    height: 50px;
    background-color: white;
    transform: rotate(1.3deg) scale(1.2);
  }
}

.hero-container-aqua {
  background-color: $aqua;
}

.hero-container-tile {
  background-image: url(../img/tile-white.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 400px;
}

.hero-inner {
  z-index: 11;
  position: relative;
}

.hero-title {
  text-shadow: 3px 4px 0 rgba(black, 0.2);
  color: white;
  margin: 0 0 10px;
  line-height: 1;

  @media screen and ( max-width: $medium ) {
    margin: 0 0 10px;
    line-height: 1;
  }
}

.hero-summary {
  font-size: $beta;
  color: white;
  padding: 15px $gutter * 2 10px $gutter;
  line-height: 1.5;

  @media screen and ( max-width: $medium ) {
    font-size: $delta + 2px;
    line-height: 1.4;
    padding: $gutter;
    margin: 10px 0 0;
  }

  @media screen and ( max-width: $small ) {
    font-size: $delta;
  }
}

// Content
.content-container {
  margin-top: 30px;
  position: relative;

  @media screen and ( max-width: $medium ) {
    margin-top: 10px; 
  }
}

.content-title {
  padding: 0 0 20px;
  margin: 0 $gutter 40px;
  border-bottom: 5px solid lighten($ink, 50);

  @media screen and ( max-width: $medium ) {
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
}

.content-intro {
  font-size: $delta + 2px;
  line-height: 1.5;

  @media screen and ( max-width: $medium ) {
    font-size: $delta - 2px;
  }
}
