<footer class="site-footer">
  <ul>
    <li><a href="tel:+442033273940">+44 (0) 20 3327 3940</a></li>
    <li><a href="mailto:hello@pebblecode.com">hello@pebblecode.com</a></li>
    <li><a href="/contact">Find / Contact Us</a></li>
  </ul>
</footer>