<!DOCTYPE html>
<!--
  Theme: Pebble Code v2.1
  Author: pebblecode [http://pebblecode-staging.herokuapp.com/]
  For: Tumblr [http://tumblr.com/]
  Terms: Non-free
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{block:PostTitle}{PostTitle} | {/block:PostTitle}pebble code</title>

  <link rel="shortcut icon" type="image/x-icon" href="http://pebblecode-staging.herokuapp.com/images/favicon.ico">
  <link rel="alternate" type="application/rss+xml" href="{RSS}">
  <meta name="description" content="Our Blog - design, code, business & everything in-between" />
  <meta name="keywords" content"blog, thoughts, news, ideas, opinons, people, thinking, write, internet, company, design, business, coding, development, events, London">
  <meta name="if:Show notes" content="1">
  <meta name="text:Disqus Shortname" content="" />

  <link rel="icon" type="image/x-icon" href="http://pebblecode-staging.herokuapp.com/images/favicon.ico">

  <link rel="stylesheet" href="http://pebblecode-staging.herokuapp.com/build/css/screen.css" type="text/css" />
  <link rel="stylesheet" title="Default" href="http://pebblecode-staging.herokuapp.com/javascripts/vendor/highlight/styles/default.css">
  <script src="http://use.typekit.com/asa8yjy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!-- Styles for blog comments -->
  <link rel="stylesheet" href="http://pebblecode-staging.herokuapp.com/stylesheets/disqus.css" type="text/css" />

  <meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

  <!--[if lt IE 9]>
    <script src="http://pebblecode-staging.herokuapp.com/javascripts/vendor/modernizr.js"></script>
  <![endif]-->

  <script>
    var $buoop = {vs:{i:6,f:3.5,o:10.6,s:3.2,n:9}}
    $buoop.ol = window.onload;
    window.onload=function(){
     try {if ($buoop.ol) $buoop.ol();}catch (e) {}
     var e = document.createElement("script");
     e.setAttribute("type", "text/javascript");
     e.setAttribute("src", "http://browser-update.org/update.js");
     document.body.appendChild(e);
    }
  </script>
</head>
<body class="page-thoughts">

  <header class="pink-background">
    <nav>
      <a class="logo" href="http://pebblecode-staging.herokuapp.com/">pebble{code}</a>

      <ul>
        <li><span>{</span><a href = "http://pebblecode-staging.herokuapp.com/people">people</a><span>}</span></li>
        <li><span>{</span><a href = "http://pebblecode-staging.herokuapp.com/work">work</a><span>}</span></li>
        <li><span>{</span><a href = "http://pebblecode-staging.herokuapp.com/labs">labs</a><span>}</span></li>
        <li class="nav-active"><span>{</span><a href = "http://pebblecode-staging.herokuapp.com/blog">blog</a><span>}</span></li>
      </ul>
    </nav>
  </header>

  <div id="wrap">

    <div class="row">
      <div class="columns6" id="thoughts-heading">
        <h1 class="size3">Our Blog</h1>
        <h2 class="size2">design, code, business, &amp; everything in-between</h2>
      </div>
    </div>

    <hr class="background-random"/>

    {block:TagPage}
      <h2 class="size2">Posts tagged: {Tag}</h2>
    {/block:TagPage}

    {block:Posts}
      {block:Text}
        <section class="row blog-post">
          <article class="columns4 blog-content">
            {block:Title}
              <h2 class="heading columns6 size2"><a href="{Permalink}">{Title}</a></h2>
            {/block:Title}

            {Body}
          </article>

          <aside class="columns2 blog-sidebar">
            <h3 class="size1 author">{PostAuthorName}</h3>
            {block:Date}
              <p class="size0">{DayOfMonth}{DayOfMonthSuffix} {Month}</p>
              <p class="size0">{Year}</p>
            {/block:Date}
            {block:HasTags}
              <ul class="tags">
                {block:Tags}
                  <li><a href="{TagURL}">{Tag}</a></li>
                {/block:Tags}
              </ul>
            {/block:HasTags}
            <div class="comments"><a class="dsq-comment-count" href="{Permalink}#disqus_thread"></a></div>
          </aside>

          {block:IfDisqusShortname}
            {block:Permalink}
              <section class="share-this-wrapper">
                <span  class='st_twitter' ></span><span  class='st_facebook' ></span><span  class='st_gbuzz' ></span><span  class='st_email' ></span><span  class='st_sharethis' ></span>
              </section><!-- .share-this-wrapper -->

              <section class="comments-wrapper">
                <section id="disqus_thread"></section>
                <script src="http://disqus.com/forums/{text:Disqus Shortname}/embed.js"></script>
                <noscript><a href="http://{text:Disqus Shortname}.disqus.com/?url=ref">{lang:View the discussion thread}</a></noscript>
              </section>
            {/block:Permalink}
          {/block:IfDisqusShortname}
        </section>
      {/block:Text}
    {/block:Posts}

    {block:Pagination}
      <ul id="blog-navigation">
          <li class="prev">
            {block:PreviousPage}
              <a href="{PreviousPage}">&#171; Newer</a>
            {/block:PreviousPage}
          </li>
          <li class="next">
            {block:NextPage}
              <a href="{NextPage}">Older &#187;</a>
            {/block:NextPage}
          </li>
      </ul>
    {/block:Pagination}

    <div id="wrap-footer"></div>
  </div>

  <footer>
    <div class="inner-footer">
      <ul id="contact">
        <li class="size0">T: <a href="tel:+442033273940">+44 (0) 20 3327 3940</a></li>
        <li class="size0">E: <a href="mailto:hello@pebblecode.com">hello@pebblecode.com</a></li>
        <li class="size0">A: <a href="http://pebblecode-staging.herokuapp.com/find-us">Map &amp; contact details</a></li>
      </ul>
      <ul id="social">
        <li><a href="http://twitter.com/#!/pebblecode" id="twitter">twitter</a></li>
        <li><a href="http://github.com/pebblecode" id="github">github</a></li>
        <li><a href="http://www.facebook.com/pebblecode" id="facebook">facebook</a></li>
        <li><a href="https://plus.google.com/u/0/111015721606354758456/posts" id="google-plus">G+</a></li>
        <li><a href="http://www.linkedin.com/company/pebble-code" id="linkedin">linkedin</a></li>
      </ul>
    </div>
  </footer>

  <script data-main="http://pebblecode-staging.herokuapp.com/build/javascripts/tumblr" src="http://pebblecode-staging.herokuapp.com/build/javascripts/vendor/require.js"></script>

  {block:IfDisqusShortname}
    <script>
      //<![CDATA[
      (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
          if(links[i].href.indexOf('#disqus_thread') >= 0) {
            query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
          }
        }
        document.write('<script charset="utf-8" src="http://disqus.com/forums/{text:Disqus Shortname}/get_num_replies.js' + query + '"></' + 'script>');
      })();
      //]]>
    </script>
  {/block:IfDisqusShortname}
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28661003-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>