// Mobile stylesheet

body
  font-size: .5em
  .wrapper
    width: 100%
  header
    position relative
    nav
      text-align center
      height auto
      padding 1%
      h1
        float none
      ul
        float left
        width 100%
        font-size 2em
        li
          display inline
          padding 0 5%
          a
            float right
            margin-left: 0
  .content
    width 90%
    padding 5%
    margin-top 0
    
    ul.home-work
      list-style none
      li
        width 96%
        float none
        padding 2% 2% 2% 2%
        margin-bottom 5%
    h2.home
      font-size 5em
      padding 7% 0 0 5
      color #7A7A7A
      text-align center
      text-shadow white 0 1px 1px
    h2
      font-size 3em
    p.home
      padding 0
      margin 0
      padding 0
      color #7A7A7A
      font-size 3em
      margin-bottom 2%
      text-align center
      text-shadow white 0 1px 1px