// Mobile stylesheet

body
  font-size: .5em
  .wrapper
    width: 100%
  header
    position relative
    nav
      text-align center
      height auto
      padding 1%
      h1
        float none
      ul
        float left
        width 100%
        font-size 2em
        li
          display inline
          padding 0 5%
          a
            float right
            margin-left: 0
  .content
    width 90%
    padding 5%
    margin-top 0
    
    