/*

  Mobile stylesheet

*/
/* General styles
-----------------------------------------------------------------------------*/
body {
  font-size: 0.5em;
}
body .wrapper {
  width: 100%;
}
/* Typography
-----------------------------------------------------------------------------*/
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1em;
}
/* Header
-----------------------------------------------------------------------------*/
header {
  position: relative;
}
header nav {
  text-align: center;
  height: auto;
  padding: 1%;
}
header nav h1 {
  float: none;
}
header nav ul {
  float: left;
  width: 100%;
  font-size: 2em;
  margin-top: 5px;
}
header nav ul li {
  display: inline;
  padding: 0 5%;
}
header nav ul li a {
  float: right;
  margin-left: 0;
}
/* Content
-----------------------------------------------------------------------------*/
.content {
  width: 90%;
  padding: 5%;
  margin-top: 0;
}
/* Home page
---------------------------------------*/
.home-page h1.title {
  font-size: 3em;
  margin-bottom: 10px;
}
.home-page ul.work-listing li {
  width: 96%;
}
.home-page ul.work-listing li.odd {
  float: none;
  clear: both;
}
.home-page ul.work-listing li.even {
  float: none;
  clear: both;
}
/* Work page
---------------------------------------*/
.work-page h1 {
  margin-bottom: 10px;
}
.work-page ul.about-intro li {
  float: none;
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.work-page ul.about-intro li.vspace {
  display: none;
}
.work-page ul.work-listing li {
  float: left;
  clear: both;
  height: auto;
  min-height: 0;
  width: 96%;
  margin-bottom: 7%;
}
.work-page ul.work-listing li h3 {
  font-size: 2.5em;
}
