/*

  Mobile stylesheet

*/

/* General styles
-----------------------------------------------------------------------------*/

body
  font-size: .5em
  .wrapper
    width: 100%
    

/* Typography
-----------------------------------------------------------------------------*/

h1
  font-size 3em

h2
  font-size 2em

h3
  font-size 1.5em

h4
  font-size 1em


/* Header
-----------------------------------------------------------------------------*/

header
  position relative
  nav
    text-align center
    height auto
    padding 1%
    h1
      float none
    ul
      float left
      width 100%
      font-size 2em
      margin-top 5px
      li
        display inline
        padding 0 5%
        a
          float right
          margin-left: 0


/* Content
-----------------------------------------------------------------------------*/

.content
  width 90%
  padding 5%
  margin-top 0
  
  
/* Home page
---------------------------------------*/

.home-page
  h1.title
    font-size 3em
    margin-bottom 10px
    
  ul.work-listing
    li
      width 96%
      
      &.odd
        float none
        clear both

      &.even
        float none
        clear both


/* Work page
---------------------------------------*/

.work-page
  h1
    margin-bottom 10px
    
  ul.work-listing
    li
      float left
      clear both
      height auto
      min-height 0
      width 96%
      margin-bottom 7%
      
      h3
        font-size: 2.5em

