body {
  font-size: 0.5em;
}
body .wrapper {
  width: 100%;
}
body header {
  position: relative;
}
body header nav {
  text-align: center;
  height: auto;
  padding: 1%;
}
body header nav h1 {
  float: none;
}
body header nav ul {
  float: left;
  width: 100%;
  font-size: 2em;
}
body header nav ul li {
  display: inline;
  padding: 0 5%;
}
body header nav ul li a {
  float: right;
  margin-left: 0;
}
body .content {
  width: 90%;
  padding: 5%;
  margin-top: 0;
}
