@import 'mixins/css3'

/*
Variables
-----------------------------------------------------------------------------*/

footer_height = 95px

// Colours
pebble_pink = #e74679
pebble_purple = #a1579c
pebble_blue = #419fda
pebble_aqua = #42b8be
pebble_green = #adca3a
pebble_orange = #f7ae35

pebble_gray = #7A7A7A

/* Reset
Based on http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
Removed elements not supported in HTML5
-----------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  vertical-align baseline


/*
Sticky footer (http://ryanfait.com/resources/footer-stick-to-bottom-of-page/)
-----------------------------------------------------------------------------*/

html, body
  height 100%


/* 
Trigger the new HTML5 block level elements in to the correct content flow
-----------------------------------------------------------------------------*/

article, aside, dialog, figure, 
footer, header, hgroup, menu, 
nav, section  
  display block


/* General styles
-----------------------------------------------------------------------------*/

body
  font 62.5%/1.5 Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif
  color pebble_gray

.wrapper
  width 100%
  text-align left 
  margin-left auto 
  margin-right auto
  background #fff
  
  height 100%

p, q, cite, address, ul, ol, dl
  font-size 1.2em
  line-height 1.5em
  margin-bottom 1em
  list-style none
  

li, dd, dt
  font-size 1em 

a
  text-decoration none
  color #3333cc
  outline none

a:hover
  text-decoration underline

code, samp, dfn, kbd, var, acronym, ins, del

abbr 
  speak spell-out

acronym 
  speak normal

hr
  clear both
  border none
  
  
  
/* Typography
-----------------------------------------------------------------------------*/

h1
  font 62.5%/1.5 ff-meta-web-pro, Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif
  font-weight bold
  font-size 5em

h2 
  font 62.5%/1.5 ff-meta-web-pro, Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif
  font-weight bold
  font-size 4em

h3 
  font 62.5%/1.5 ff-meta-web-pro, Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif
  font-weight bold
  font-size 2em

h4 
  font 62.5%/1.5 ff-meta-web-pro, Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif
  font-weight bold
  font-size 1em

/* Header
-----------------------------------------------------------------------------*/

header
  position fixed
  top 0
  width 100%
  background none
  z-index 1000
  
  h1
    margin-left 2%
    float left
     
    a 
      display block
      background transparent url('/images/logo.png') no-repeat 0 0
      margin 12px 0 0 0
      width 300px
      height 42px
      text-indent -9999px
      outline none 
  
  // border-bottom 10px solid rgba(0,0,0,.1)
  nav 
    float right
    height 60px
    width 100%
    padding 10px 0 10px 0
    background-color pebble_blue
    ul 
      width 50%
      float right
      margin-bottom 0
      padding-bottom 0
      margin 15px 2% 0 0
      text-align right
      li 
        display inline
        margin-bottom 0
        padding-bottom 0
        
        a
          display block
          float right
          margin-left 5%

          // Using image replacement technique #6 from http://css-tricks.com/630-css-image-replacement/
          overflow hidden
          height 0
          padding-top 28px
        
          &.blog
            background transparent url('/images/blog.png') no-repeat 0 0
            width 80px
            
            &:hover
              background-position: 0 -38px;  
      
          &.about
            background transparent url('/images/about.png') no-repeat 0 0
            width 95px
          
            &:hover
              background-position 0 -38px
        
          &.work
            background transparent url('/images/work.png') no-repeat 0 0
            width 87px
            
            &:hover
              background-position 0 -38px

  .navshadow
    width 100%
    height 5px  
    clear both

    background-color rgba(0, 0, 0, 0.1)
    .no-rgba &
      background-color #eeeeee


/* Content
-----------------------------------------------------------------------------*/

.content
  clear both
  width 96%
  padding 0 2%

  min-height 100%
  height auto !important
  height 100%
  margin 100px auto (- footer_height)
  
  .push-footer
    height footer_height

/* Home page
---------------------------------------*/

.home-page
  h1.title
    font-size 6em
    padding 7% 0 0 5
    margin-bottom 40px
    color pebble_gray
    text-align center
    line-height 1em
    

  ul.work-listing
    li
      height auto
      
  a
    color pebble_gray
    
  a:hover
    text-decoration none
  
  .content
    margin-top 120px
      
/* Work page
-----------------------------------------*/

.work-page
  
  ul.about-intro
    margin-bottom 40px
    min-height 130px
    
    a
      color pebble_blue
    
    li
      width 30%
      float left
      
      &.about-first
        margin-right 2.4%
        
      &.about-second
        margin 0 2.4%
        
      &.about-third
        margin-left 2.4%
        
      &.v-space
        width 2px
        height 100%
        background-color pebble_blue

  ul.work-listing
    li
      height auto
      min-height 280px
      
  .screenshot
    margin-right 20px
    font-size 1.2em
    
  .thumb
    width 100px
    height 60px
    float left
    margin-right 20px 
    text-indent -9999px
    
  a:hover.thumb
    height 45px


/* About page
---------------------------------------*/

.about-page

  ul.who
    h2
      font-size 3em
    
    h3
      margin-top -10px 
    li
      margin-bottom 40px
      width 32%
      float left
      &.toby
        background url('/images/tile_blue.gif')
        span
          color pebble_blue
      &.george
        margin 0 2%
        background url('/images/tile_green.gif')
        span
          color pebble_green    
      &.alex
        background url('/images/tile_orange.gif')
        span
          color pebble_orange 
      &.mark
        background url('/images/tile_aqua.gif')
        span
          color pebble_aqua
      &.greg
        margin 0 2%
        background url('/images/tile_purple.gif')
        span
          color pebble_purple    
      &.vince
        background url('/images/tile_pink.gif')
        span
          color pebble_pink
      &.tak
        background url('/images/tile_blue.gif')
        span
          color pebble_blue
      &.joseph
        margin 0 2%
        background url('/images/tile_green.gif')
        span
          color pebble_green    
      &.gayle
        background url('/images/tile_orange.gif')
        span
          color pebble_orange                       
          
    img
      float left
      width 150
      height 200px 
      margin-right 10px 
      
    

  ul.columns
    li
      width 47%
      margin-bottom 3%
      &.odd
        float left
        clear left
        padding-right 3%
        border-right 2px solid pebble_blue
      &.even
        float right
        clear right
        
.map
  width 60%
  margin 20px 0
  float left

.address
  width 30%
  padding 10px 10px 10px 2%
  float left
  p
    font 62.5%/1.5 ff-meta-web-pro, Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif
    font-weight bold
    font-size 2em
    margin 0
    a
      color pebble_pink


/* Blog pages
---------------------------------------*/

.blog
  .content
    width 960px
    
    #intro
      width 810px
      margin-left 150px
      .title
        font-size 45px
        padding 30px 0 40px
        color pebble_gray
        text-align center
        line-height 1em

      .subtitle
        font-size 20px
        padding 0
        margin-bottom 30px
        color pebble_gray
        text-align center
        line-height 1em
    
    #posts
      .post
        position relative
        margin-bottom 20px
        z-index 0
        
        // Coloured elements
        .title a,
        .body a,
        .meta .author a,
        .meta .tags a
          color pebble_blue
        .body 
          border-left 5px solid pebble_blue
          background transparent url(/images/tile_blue.gif) repeat 0 0
        // End Coloured elements
        
        // Meta font
        .body .title a,
        .meta .author a
          font-family ff-meta-web-pro, Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif
        // End Meta font
        
        .body
          margin-left 150px
          padding 10px
          
          p
            font-size 16px
            line-height 22px
          
          .title
            a
              font-size 24px
              padding 10px 0 20px
              line-height 1em
          
        .meta
          text-align right
          position absolute
          top 0
          left 0
          width 140px
          
          .author
            margin-bottom 5px
            
            a
              font-size 20px
              font-weight bold
              margin-top 18px
              display block
            
          .published-date
            line-height 17px
            .date-month
              font-weight bold
              display block
              
            .year
              display block
              
          .tags
            line-height 17px
            margin-top 10px
            
    #blog-navigation
      font-size 16px
      line-height 16px
      margin 60px 0 0 150px
      width 810px
      
      li
        float left
        
        a
          color pebble_blue
          
      .prev
        width 50%
      
      .next
        width 50%
        text-align right

/* Page fragments
---------------------------------------*/

ul.work-listing

  li
    width 47%
    margin-bottom 2%
    padding 0 1% 1% 0.7%    

    p.summary
      font-size 2em
      margin -0.1em 0 0.4em 0

    &.odd
      float left
      clear left

    &.even
      float right
      clear right

    &.ldntaxi
      border-left 5px solid pebble_blue
      background url('/images/tile_blue.gif')
      span
        color pebble_blue
      a
        color pebble_blue
  
    &.woohoo
      border-left 5px solid pebble_green
      background url('/images/tile_green.gif')
      span
          color pebble_green
      a
        color pebble_green

    &.aljazeera
      border-left 5px solid pebble_orange
      background url('/images/tile_orange.gif')
      span
          color pebble_orange
      a
        color pebble_orange
        

    &.takefive
      border-left 5px solid pebble_aqua
      background url('/images/tile_aqua.gif')
      span
          color pebble_aqua
      a
        color pebble_aqua
        

    &.ideapi
      border-left 5px solid pebble_purple
      background url('/images/tile_purple.gif')
      span
          color pebble_purple
      a
        color pebble_purple
        

    &.downunder
      border-left 5px solid pebble_pink
      background url('/images/tile_pink.gif')
      span
          color pebble_pink
      a
        color pebble_pink
        

    &.space
      border-left 5px solid pebble_blue
      background url('/images/tile_blue.gif')
      span
          color pebble_blue
      a
        color pebble_blue
      

    &.stink
      border-left 5px solid pebble_green
      background url('/images/tile_green.gif')
      span
          color pebble_green
      a
        color pebble_green
        

/* Footer
-----------------------------------------------------------------------------*/

footer
  float left
  clear both
  width 96%
  height footer_height
  padding 30px 2%
  color #C2C2C2
  margin-top 150px
  background-color #F2F2F2
  text-shadow white 0 1px 1px
  a
    color #848484
  span
    color #848484

    
