/*
Variables
-----------------------------------------------------------------------------*/
/* Reset
Based on http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
Removed elements not supported in HTML5
-----------------------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strike,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/*
Sticky footer (http://ryanfait.com/resources/footer-stick-to-bottom-of-page/)
-----------------------------------------------------------------------------*/
html,
body {
  height: 100%;
}
/* 
Trigger the new HTML5 block level elements in to the correct content flow
-----------------------------------------------------------------------------*/
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* General styles
-----------------------------------------------------------------------------*/
body {
  font: 62.5%/1.5 Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  color: #7a7a7a;
}
.wrapper {
  width: 100%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  height: 100%;
}
p,
q,
cite,
address,
ul,
ol,
dl {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 1em;
  list-style: none;
}
li,
dd,
dt {
  font-size: 1em;
}
a {
  text-decoration: none;
  color: #33c;
  outline: none;
}
a:hover {
  text-decoration: underline;
}
abbr {
  speak: spell-out;
}
acronym {
  speak: normal;
}
hr {
  clear: both;
  border: none;
}
/* Typography
-----------------------------------------------------------------------------*/
h1 {
  font: 62.5%/1.5 ff-meta-web-pro, Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  font-weight: bold;
  font-size: 5em;
}
h2 {
  font: 62.5%/1.5 ff-meta-web-pro, Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  font-weight: bold;
  font-size: 4em;
}
h3 {
  font: 62.5%/1.5 ff-meta-web-pro, Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  font-weight: bold;
  font-size: 2em;
}
h4 {
  font: 62.5%/1.5 ff-meta-web-pro, Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1em;
}
/* Header
-----------------------------------------------------------------------------*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: none;
  z-index: 1000;
}
header h1 {
  margin-left: 2%;
  float: left;
}
header h1 a {
  display: block;
  background: transparent url("/images/logo.png") no-repeat 0 0;
  margin: 12px 0 0 0;
  width: 300px;
  height: 42px;
  text-indent: -9999px;
  outline: none;
}
header nav {
  float: right;
  height: 60px;
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: #419fda;
}
header nav ul {
  width: 50%;
  float: right;
  margin-bottom: 0;
  padding-bottom: 0;
  margin: 15px 2% 0 0;
  text-align: right;
}
header nav ul li {
  display: inline;
  margin-bottom: 0;
  padding-bottom: 0;
}
header nav ul li a {
  display: block;
  float: right;
  margin-left: 5%;
  overflow: hidden;
  height: 0;
  padding-top: 28px;
}
header nav ul li a.blog {
  background: transparent url("/images/blog.png") no-repeat 0 0;
  width: 80px;
}
header nav ul li a.blog:hover {
  background-position: 0 -38px;
}
header nav ul li a.about {
  background: transparent url("/images/about.png") no-repeat 0 0;
  width: 95px;
}
header nav ul li a.about:hover {
  background-position: 0 -38px;
}
header nav ul li a.work {
  background: transparent url("/images/work.png") no-repeat 0 0;
  width: 87px;
}
header nav ul li a.work:hover {
  background-position: 0 -38px;
}
header .navshadow {
  width: 100%;
  height: 5px;
  clear: both;
  background-color: rgba(0,0,0,0.10);
}
.no-rgba header .navshadow {
  background-color: #eee;
}
/* Content
-----------------------------------------------------------------------------*/
.content {
  clear: both;
  width: 96%;
  padding: 0 2%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 100px auto -95px;
}
.content .push-footer {
  height: 95px;
}
/* Home page
---------------------------------------*/
.home-page h1.title {
  font-size: 6em;
  padding: 7% 0 0 5;
  margin-bottom: 40px;
  color: #7a7a7a;
  text-align: center;
  line-height: 1em;
}
.home-page ul.work-listing li {
  height: auto;
}
.home-page a {
  color: #7a7a7a;
}
.home-page a:hover {
  text-decoration: none;
}
.home-page .content {
  margin-top: 120px;
}
/* Work page
-----------------------------------------*/
.work-page ul.about-intro {
  margin-bottom: 40px;
  min-height: 130px;
}
.work-page ul.about-intro a {
  color: #419fda;
}
.work-page ul.about-intro li {
  width: 30%;
  float: left;
}
.work-page ul.about-intro li.about-first {
  margin-right: 2.4%;
}
.work-page ul.about-intro li.about-second {
  margin: 0 2.4%;
}
.work-page ul.about-intro li.about-third {
  margin-left: 2.4%;
}
.work-page ul.about-intro li.v-space {
  width: 2px;
  height: 100%;
  background-color: #419fda;
}
.work-page ul.work-listing li {
  height: auto;
  min-height: 280px;
}
.work-page .screenshot {
  margin-right: 20px;
  font-size: 1.2em;
}
.work-page .thumb {
  width: 100px;
  height: 60px;
  float: left;
  margin-right: 20px;
  text-indent: -9999px;
}
.work-page a:hover.thumb {
  height: 45px;
}
/* About page
---------------------------------------*/
.about-page ul.who h2 {
  font-size: 3em;
}
.about-page ul.who h3 {
  margin-top: -10px;
}
.about-page ul.who li {
  margin-bottom: 40px;
  width: 32%;
  float: left;
}
.about-page ul.who li.toby {
  background: url("/images/tile_blue.gif");
}
.about-page ul.who li.toby span {
  color: #419fda;
}
.about-page ul.who li.george {
  margin: 0 2%;
  background: url("/images/tile_green.gif");
}
.about-page ul.who li.george span {
  color: #adca3a;
}
.about-page ul.who li.alex {
  background: url("/images/tile_orange.gif");
}
.about-page ul.who li.alex span {
  color: #f7ae35;
}
.about-page ul.who li.mark {
  background: url("/images/tile_aqua.gif");
}
.about-page ul.who li.mark span {
  color: #42b8be;
}
.about-page ul.who li.greg {
  margin: 0 2%;
  background: url("/images/tile_purple.gif");
}
.about-page ul.who li.greg span {
  color: #a1579c;
}
.about-page ul.who li.vince {
  background: url("/images/tile_pink.gif");
}
.about-page ul.who li.vince span {
  color: #e74679;
}
.about-page ul.who li.tak {
  background: url("/images/tile_blue.gif");
}
.about-page ul.who li.tak span {
  color: #419fda;
}
.about-page ul.who li.joseph {
  margin: 0 2%;
  background: url("/images/tile_green.gif");
}
.about-page ul.who li.joseph span {
  color: #adca3a;
}
.about-page ul.who li.gayle {
  background: url("/images/tile_orange.gif");
}
.about-page ul.who li.gayle span {
  color: #f7ae35;
}
.about-page ul.who img {
  float: left;
  width: 150;
  height: 200px;
  margin-right: 10px;
}
.about-page ul.columns li {
  width: 47%;
  margin-bottom: 3%;
}
.about-page ul.columns li.odd {
  float: left;
  clear: left;
  padding-right: 3%;
  border-right: 2px solid #419fda;
}
.about-page ul.columns li.even {
  float: right;
  clear: right;
}
.map {
  width: 60%;
  margin: 20px 0;
  float: left;
}
.address {
  width: 30%;
  padding: 10px 10px 10px 2%;
  float: left;
}
.address p {
  font: 62.5%/1.5 ff-meta-web-pro, Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin: 0;
}
.address p a {
  color: #e74679;
}
/* Blog pages
---------------------------------------*/
.blog .content {
  width: 960px;
}
.blog .content #intro {
  width: 810px;
  margin-left: 150px;
}
.blog .content #intro .title {
  font-size: 45px;
  padding: 30px 0 40px;
  color: #7a7a7a;
  text-align: center;
  line-height: 1em;
}
.blog .content #intro .subtitle {
  font-size: 20px;
  padding: 0;
  margin-bottom: 30px;
  color: #7a7a7a;
  text-align: center;
  line-height: 1em;
}
.blog .content #posts .post {
  position: relative;
  margin-bottom: 20px;
  z-index: 0;
}
.blog .content #posts .post pre {
  margin-bottom: 20px;
}
.blog .content #posts .post code {
  font-size: 14px;
  line-height: 18px;
  overflow: auto;
}
.blog .content #posts .post.pebble_aqua .title a,
.blog .content #posts .post.pebble_aqua .body a,
.blog .content #posts .post.pebble_aqua .meta .author a,
.blog .content #posts .post.pebble_aqua .meta .tags a,
.blog .content #posts .post.pebble_aqua .dsq-comment-footer .dsq-comment-meta a,
.blog .content #posts .post.pebble_aqua .dsq-comment-header .dsq-commenter-name,
.blog .content #posts .post.pebble_aqua .dsq-comment-actions a,
.blog .content #posts .post.pebble_aqua .dsq-collapsed-count,
.blog .content #posts .post.pebble_aqua #dsq-subscribe a,
.blog .content #posts .post.pebble_aqua #dsq-account-dropdown a {
  color: #42b8be;
}
.blog .content #posts .post.pebble_aqua .body-wrapper {
  border-left: 5px solid #42b8be;
  background: transparent url("/images/tile_aqua.gif") repeat 0 0;
}
.blog .content #posts .post.pebble_aqua .comments-wrapper,
.blog .content #posts .post.pebble_aqua .dsq-comment,
.blog .content #posts .post.pebble_aqua .dsq-post-tools {
  border-top: 1px dotted #42b8be;
}
.blog .content #posts .post.pebble_aqua #dsq-content .dsq-textarea .dsq-textarea-background,
.blog .content #posts .post.pebble_aqua .dsq-post-tools .dsq-post-as .dsq-button {
  border: 1px solid #42b8be;
}
.blog .content #posts .post.pebble_pink .title a,
.blog .content #posts .post.pebble_pink .body a,
.blog .content #posts .post.pebble_pink .meta .author a,
.blog .content #posts .post.pebble_pink .meta .tags a,
.blog .content #posts .post.pebble_pink .dsq-comment-footer .dsq-comment-meta a,
.blog .content #posts .post.pebble_pink .dsq-comment-header .dsq-commenter-name,
.blog .content #posts .post.pebble_pink .dsq-comment-actions a,
.blog .content #posts .post.pebble_pink .dsq-collapsed-count,
.blog .content #posts .post.pebble_pink #dsq-subscribe a,
.blog .content #posts .post.pebble_pink #dsq-account-dropdown a {
  color: #e74679;
}
.blog .content #posts .post.pebble_pink .body-wrapper {
  border-left: 5px solid #e74679;
  background: transparent url("/images/tile_pink.gif") repeat 0 0;
}
.blog .content #posts .post.pebble_pink .comments-wrapper,
.blog .content #posts .post.pebble_pink .dsq-comment,
.blog .content #posts .post.pebble_pink .dsq-post-tools {
  border-top: 1px dotted #e74679;
}
.blog .content #posts .post.pebble_pink #dsq-content .dsq-textarea .dsq-textarea-background,
.blog .content #posts .post.pebble_pink .dsq-post-tools .dsq-post-as .dsq-button {
  border: 1px solid #e74679;
}
.blog .content #posts .post.pebble_blue .title a,
.blog .content #posts .post.pebble_blue .body a,
.blog .content #posts .post.pebble_blue .meta .author a,
.blog .content #posts .post.pebble_blue .meta .tags a,
.blog .content #posts .post.pebble_blue .dsq-comment-footer .dsq-comment-meta a,
.blog .content #posts .post.pebble_blue .dsq-comment-header .dsq-commenter-name,
.blog .content #posts .post.pebble_blue .dsq-comment-actions a,
.blog .content #posts .post.pebble_blue .dsq-collapsed-count,
.blog .content #posts .post.pebble_blue #dsq-subscribe a,
.blog .content #posts .post.pebble_blue #dsq-account-dropdown a {
  color: #419fda;
}
.blog .content #posts .post.pebble_blue .body-wrapper {
  border-left: 5px solid #419fda;
  background: transparent url("/images/tile_blue.gif") repeat 0 0;
}
.blog .content #posts .post.pebble_blue .comments-wrapper,
.blog .content #posts .post.pebble_blue .dsq-comment,
.blog .content #posts .post.pebble_blue .dsq-post-tools {
  border-top: 1px dotted #419fda;
}
.blog .content #posts .post.pebble_blue #dsq-content .dsq-textarea .dsq-textarea-background,
.blog .content #posts .post.pebble_blue .dsq-post-tools .dsq-post-as .dsq-button {
  border: 1px solid #419fda;
}
.blog .content #posts .post.pebble_green .title a,
.blog .content #posts .post.pebble_green .body a,
.blog .content #posts .post.pebble_green .meta .author a,
.blog .content #posts .post.pebble_green .meta .tags a,
.blog .content #posts .post.pebble_green .dsq-comment-footer .dsq-comment-meta a,
.blog .content #posts .post.pebble_green .dsq-comment-header .dsq-commenter-name,
.blog .content #posts .post.pebble_green .dsq-comment-actions a,
.blog .content #posts .post.pebble_green .dsq-collapsed-count,
.blog .content #posts .post.pebble_green #dsq-subscribe a,
.blog .content #posts .post.pebble_green #dsq-account-dropdown a {
  color: #adca3a;
}
.blog .content #posts .post.pebble_green .body-wrapper {
  border-left: 5px solid #adca3a;
  background: transparent url("/images/tile_green.gif") repeat 0 0;
}
.blog .content #posts .post.pebble_green .comments-wrapper,
.blog .content #posts .post.pebble_green .dsq-comment,
.blog .content #posts .post.pebble_green .dsq-post-tools {
  border-top: 1px dotted #adca3a;
}
.blog .content #posts .post.pebble_green #dsq-content .dsq-textarea .dsq-textarea-background,
.blog .content #posts .post.pebble_green .dsq-post-tools .dsq-post-as .dsq-button {
  border: 1px solid #adca3a;
}
.blog .content #posts .post.pebble_orange .title a,
.blog .content #posts .post.pebble_orange .body a,
.blog .content #posts .post.pebble_orange .meta .author a,
.blog .content #posts .post.pebble_orange .meta .tags a,
.blog .content #posts .post.pebble_orange .dsq-comment-footer .dsq-comment-meta a,
.blog .content #posts .post.pebble_orange .dsq-comment-header .dsq-commenter-name,
.blog .content #posts .post.pebble_orange .dsq-comment-actions a,
.blog .content #posts .post.pebble_orange .dsq-collapsed-count,
.blog .content #posts .post.pebble_orange #dsq-subscribe a,
.blog .content #posts .post.pebble_orange #dsq-account-dropdown a {
  color: #f7ae35;
}
.blog .content #posts .post.pebble_orange .body-wrapper {
  border-left: 5px solid #f7ae35;
  background: transparent url("/images/tile_orange.gif") repeat 0 0;
}
.blog .content #posts .post.pebble_orange .comments-wrapper,
.blog .content #posts .post.pebble_orange .dsq-comment,
.blog .content #posts .post.pebble_orange .dsq-post-tools {
  border-top: 1px dotted #f7ae35;
}
.blog .content #posts .post.pebble_orange #dsq-content .dsq-textarea .dsq-textarea-background,
.blog .content #posts .post.pebble_orange .dsq-post-tools .dsq-post-as .dsq-button {
  border: 1px solid #f7ae35;
}
.blog .content #posts .post.pebble_purple .title a,
.blog .content #posts .post.pebble_purple .body a,
.blog .content #posts .post.pebble_purple .meta .author a,
.blog .content #posts .post.pebble_purple .meta .tags a,
.blog .content #posts .post.pebble_purple .dsq-comment-footer .dsq-comment-meta a,
.blog .content #posts .post.pebble_purple .dsq-comment-header .dsq-commenter-name,
.blog .content #posts .post.pebble_purple .dsq-comment-actions a,
.blog .content #posts .post.pebble_purple .dsq-collapsed-count,
.blog .content #posts .post.pebble_purple #dsq-subscribe a,
.blog .content #posts .post.pebble_purple #dsq-account-dropdown a {
  color: #a1579c;
}
.blog .content #posts .post.pebble_purple .body-wrapper {
  border-left: 5px solid #a1579c;
  background: transparent url("/images/tile_purple.gif") repeat 0 0;
}
.blog .content #posts .post.pebble_purple .comments-wrapper,
.blog .content #posts .post.pebble_purple .dsq-comment,
.blog .content #posts .post.pebble_purple .dsq-post-tools {
  border-top: 1px dotted #a1579c;
}
.blog .content #posts .post.pebble_purple #dsq-content .dsq-textarea .dsq-textarea-background,
.blog .content #posts .post.pebble_purple .dsq-post-tools .dsq-post-as .dsq-button {
  border: 1px solid #a1579c;
}
.blog .content #posts .post .body .title a,
.blog .content #posts .post .meta .author a,
.blog .content #posts .post .blog .content #posts .post .body-wrapper .comments-wrapper #dsq-content h3,
.blog .content #posts .post .blog .content #posts .post .body-wrapper .comments-wrapper .dsq-commenter-name {
  font-family: ff-meta-web-pro, Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
}
.blog .content #posts .post .body-wrapper {
  margin-left: 150px;
  padding: 10px;
}
.blog .content #posts .post .body-wrapper .body p {
  font-size: 16px;
  line-height: 22px;
}
.blog .content #posts .post .body-wrapper .body .title a {
  font-size: 24px;
  padding: 10px 0 20px;
  line-height: 1em;
}
.blog .content #posts .post .body-wrapper .share-this-wrapper {
  margin: 40px 0 20px;
}
.blog .content #posts .post .body-wrapper .comments-wrapper {
  padding-top: 10px;
}
.blog .content #posts .post .body-wrapper .comments-wrapper #dsq-content h3 {
  margin-bottom: 0.5em;
}
.blog .content #posts .post .body-wrapper .comments-wrapper .dsq-comment-body {
  padding-left: 0;
}
.blog .content #posts .post .body-wrapper .comments-wrapper .dsq-textarea-reply {
  margin-left: 0;
}
.blog .content #posts .post .body-wrapper .comments-wrapper .dsq-textarea .dsq-textarea-background {
  background: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.blog .content #posts .post .body-wrapper .comments-wrapper .dsq-post-tools .dsq-post-as .dsq-button {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.blog .content #posts .post .body-wrapper .comments-wrapper #dsq-content .dsq-comment-text {
  color: #525252;
}
.blog .content #posts .post .body-wrapper .comments-wrapper .dsq-comment-header {
  background: none;
  border: none;
  padding-left: 0;
}
.blog .content #posts .post .body-wrapper .comments-wrapper .dsq-commenter-name {
  font-size: 24px;
  line-height: 30px;
}
.blog .content #posts .post .body-wrapper .comments-wrapper .dsq-comment-comment {
  padding-top: 10px;
}
.blog .content #posts .post .body-wrapper .comments-wrapper .dsq-avatar {
  display: none;
}
.blog .content #posts .post .body-wrapper .comments-wrapper #dsq-content .dsq-attach-media .dsq-attach-media-container span {
  top: 0;
}
.blog .content #posts .post .meta {
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
}
.blog .content #posts .post .meta .author {
  margin-bottom: 5px;
}
.blog .content #posts .post .meta .author a {
  font-size: 20px;
  font-weight: bold;
  margin-top: 18px;
  display: block;
}
.blog .content #posts .post .meta .published-date {
  line-height: 17px;
}
.blog .content #posts .post .meta .published-date .date-month {
  font-weight: bold;
  display: block;
}
.blog .content #posts .post .meta .published-date .year {
  display: block;
}
.blog .content #posts .post .meta .tags {
  line-height: 17px;
  margin-top: 10px;
}
.blog .content #posts .post .meta .tags ul {
  margin: 0;
  padding: 0;
  line-height: 1em;
}
.blog .content #posts .post .meta .tags ul li {
  display: inline;
  margin: 0;
  padding: 0;
}
.blog .content #posts .post .meta .tags ul li:after {
  content: ",";
}
.blog .content #posts .post .meta .tags ul li:last-child:after {
  content: "";
}
.blog .content #posts .post .meta .tags ul li a {
  font-size: 14px;
  line-height: 18px;
}
.blog .content #blog-navigation {
  font-size: 16px;
  line-height: 16px;
  margin: 60px 0 0 150px;
  width: 810px;
}
.blog .content #blog-navigation li {
  float: left;
}
.blog .content #blog-navigation li a {
  color: #419fda;
}
.blog .content #blog-navigation .prev {
  width: 50%;
}
.blog .content #blog-navigation .next {
  width: 50%;
  text-align: right;
}
/* Page fragments
---------------------------------------*/
ul.work-listing li {
  width: 47%;
  margin-bottom: 2%;
  padding: 0 1% 1% 0.7%;
}
ul.work-listing li p.summary {
  font-size: 2em;
  margin: -0.1em 0 0.4em 0;
}
ul.work-listing li.odd {
  float: left;
  clear: left;
}
ul.work-listing li.even {
  float: right;
  clear: right;
}
ul.work-listing li.ldntaxi {
  border-left: 5px solid #419fda;
  background: url("/images/tile_blue.gif");
}
ul.work-listing li.ldntaxi span {
  color: #419fda;
}
ul.work-listing li.ldntaxi a {
  color: #419fda;
}
ul.work-listing li.woohoo {
  border-left: 5px solid #adca3a;
  background: url("/images/tile_green.gif");
}
ul.work-listing li.woohoo span {
  color: #adca3a;
}
ul.work-listing li.woohoo a {
  color: #adca3a;
}
ul.work-listing li.aljazeera {
  border-left: 5px solid #f7ae35;
  background: url("/images/tile_orange.gif");
}
ul.work-listing li.aljazeera span {
  color: #f7ae35;
}
ul.work-listing li.aljazeera a {
  color: #f7ae35;
}
ul.work-listing li.takefive {
  border-left: 5px solid #42b8be;
  background: url("/images/tile_aqua.gif");
}
ul.work-listing li.takefive span {
  color: #42b8be;
}
ul.work-listing li.takefive a {
  color: #42b8be;
}
ul.work-listing li.ideapi {
  border-left: 5px solid #a1579c;
  background: url("/images/tile_purple.gif");
}
ul.work-listing li.ideapi span {
  color: #a1579c;
}
ul.work-listing li.ideapi a {
  color: #a1579c;
}
ul.work-listing li.downunder {
  border-left: 5px solid #e74679;
  background: url("/images/tile_pink.gif");
}
ul.work-listing li.downunder span {
  color: #e74679;
}
ul.work-listing li.downunder a {
  color: #e74679;
}
ul.work-listing li.space {
  border-left: 5px solid #419fda;
  background: url("/images/tile_blue.gif");
}
ul.work-listing li.space span {
  color: #419fda;
}
ul.work-listing li.space a {
  color: #419fda;
}
ul.work-listing li.stink {
  border-left: 5px solid #adca3a;
  background: url("/images/tile_green.gif");
}
ul.work-listing li.stink span {
  color: #adca3a;
}
ul.work-listing li.stink a {
  color: #adca3a;
}
/* Footer
-----------------------------------------------------------------------------*/
footer {
  float: left;
  clear: both;
  width: 96%;
  height: 95px;
  padding: 30px 2%;
  color: #c2c2c2;
  margin-top: 150px;
  background-color: #f2f2f2;
  text-shadow: #fff 0 1px 1px;
}
footer a {
  color: #848484;
}
footer span {
  color: #848484;
}
