---
title: 
---
<h2 class="call-out az-title">See how our approach to software is helping AstraZeneca</h2>
<style type="text/css">
  body { margin-bottom: 0 !important }
</style>
<div class="az-video-outer">
  <iframe width="560" height="315" src="//www.youtube.com/embed/4hvbeQl2rb0" frameborder="0" allowfullscreen></iframe>
</div>