@font-face {
    font-family: 'meta-bold';
    src: url('MetaOT-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'meta';
    src: url('MetaOT-Norm.otf');
    font-weight: bold;
    font-style: normal;
}


