---
title: " | People Champion"
---
<header class="blog-header">
  <div class="blog-header-inner">
    <h2 class="call-out">People Champion</h1>
    <h3>Help us look after our most precious thing</h3>
  </div>
</header>

  <section class="post">
  <p>pebble {code} seeks an exceptional dynamic individual to join it’s growing Innovation Consultancy as part of it’s People Operations Department.  You will answer directly to the Board, championing Pebble’s values internally and externally as pebble enters its next phase of growth.</p>  
  <p>Externally, you’ll be working to help raise the profile of the company, establishing pebble {code} as a first class innovator where the best minds go to pursue a career and solve interesting problems.  Internally you’ll be working directly with the staff to embed pebble’s culture, enhance it’s social calendar and develop it’s staff.  This includes developing the office environment, policies and benefits packages to make pebble {code} an outstanding place to work.</p>

  <h3>Duties Include</h3>

  <ul>
    <li>Organising hackdays and other profile building events</li>
    <li>Enhancing Pebble’s public profile and reach</li>
    <li>Working on staff benefits package</li>
    <li>Developing relationships with partner organisations, education institutions and interest groups</li>
    <li>External Advocacy of pebble’s Brand at events and meetups</li>
    <li>Assisting with the recruitment process and on boarding process for new staff</li>
    <li>Working to help make pebble a great place to work</li>
  </ul>

  <h3>Relevant areas of experience</h3>

  <ul>
    <li>Events planning and organisation
    <li>Public Relations
    <li>Community building
    <li>Brand advocacy
    <li>Human Resources
  </ul>

  <h3>Key Personal Attributes</h3>

  <ul>
    <li>Excellent interpersonal skills
    <li>Excellent writing style
    <li>Can do attitude
    <li>A passion for making things better
    <li>Self starter
    <li>Enthusiastic
  </ul>


  <p>Send your CV to <a href="mailto:jobs@pebblecode.com">jobs@pebblecode.com</a>

  <p>No Agencies Please</p>

  </section>
